<!-- BEGIN CONTENT-->
			<div id="content">
				<section>
					<div class="section-header">
						<ol class="breadcrumb">
							<li class="active">Blog masonry</li>
						</ol>
					</div>
					<div class="section-body">
						<div class="row">
							<div class="col-lg-12">

								<!-- BEGIN BLOG MASONRY -->
								<div class="card card-type-blog-masonry style-default-bright">
									<div class="row">
										<div class="col-md-3">
											<article>
												<div class="card-body style-default-dark text-center">
													<h3><i class="fa fa-quote-left"></i> Some quote <i class="fa fa-quote-right"></i></h3>
												</div>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h4><a class="link-default" href="../../../html/pages/blog/post.html">Consectetur adipisicing elit</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
												</div>
											</article><!-- end /article -->
											<article>
												<div class="blog-image">
													<img src="<%= asset_path 'img2.jpg' %>" alt="" />
												</div>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Cupidatat non proident</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
											</article><!-- end /article -->
											<article>
												<div class="card-body style-primary-light">
													<div class="opacity-75">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Cupidatat non proident</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
											</article><!-- end /article -->
										</div><!--end .col -->
										<div class="col-md-3">
											<article>
												<div class="blog-image">
													<img class="img-responsive" src="<%= asset_path 'img3.jpg' %>" alt="" />
												</div>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Anim mollit</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
											</article><!-- end /article -->
											<article>
												<div class="blog-image">
													<img class="img-responsive" src="<%= asset_path 'img4.jpg' %>" alt="" />
												</div>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Tempor incididunt elit</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
											</article><!-- end /article -->
										</div>
										<div class="col-md-3">
											<article>
												<div class="card-body style-primary blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Exercitation ullamco</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
												<div class="blog-image">
													<img class="img-responsive" src="<%= asset_path 'img5.jpg' %>" alt="" />
												</div>
											</article><!-- end /article -->
											<article>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Exercitation ullamco</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
												<div class="card-body text-center style-default-dark">
													<h3><i class="fa fa-quote-left"></i> Some quote <i class="fa fa-quote-right"></i></h3>
												</div>
												<div class="card-body text-center card-body-darken style-default-dark">
													<h4><i class="fa fa-quote-left"></i> Another one for the books <i class="fa fa-quote-right"></i></h4>
												</div>
											</article><!-- end /article -->
										</div><!--end .col -->
										<div class="col-md-3">
											<article>
												<div class="blog-image">
													<img class="img-responsive" src="<%= asset_path 'img6.jpg' %>" alt="" />
												</div>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Exercitation ullamco</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												</div>
											</article><!-- end /article -->
											<article>
												<div class="blog-image">
													<img class="img-responsive" src="<%= asset_path 'img7.jpg' %>" alt="" />
												</div>
												<div class="card-body blog-text style-primary-dark">
													<div class="opacity-50">Posted on Feb 20 by <a href="#">Admin</a> | <a href="#">2 comments <i class="fa fa-comment-o"></i></a></div>
													<h3><a class="link-default" href="../../../html/pages/blog/post.html">Exercitation ullamco</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
													<p>Excepteur sint occaecat cupidatat non proide</p>
												</div>
											</article><!-- end /article -->
										</div><!--end .col -->
									</div><!--end .row -->
								</div><!--end .card -->
								<!-- END BLOG MASONRY -->

							</div><!--end .col -->
						</div><!--end .row -->

						<!-- BEGIN PAGINATION -->
						<div class="row">
							<div class="col-lg-12 text-center">
								<ul class="pagination pagination-lg">
									<li class="disabled"><a href="#">«</a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">»</a></li>
								</ul>
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END PAGINATION -->

					</div><!--end .section-body -->
				</section>
			</div><!--end #content-->
			<!-- END CONTENT -->