<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
       <div class="col-lg-6">      
<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- <div class="field">
    <%= f.label :tipo %>
    <%= f.number_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :archivo %>
    <%= f.text_field :archivo %>
  </div> -->

 

   <div class="input-field" style="margin-left: auto;margin-right: auto;display: table;">
                <div data-icon="&#xe563;" class="prefix"></div>
                
               <span class="estilo2"> <%= f.label :descripcion %>:</span>
                <%= f.text_field :descripcion, class: "validate estilo" %>

               

                
               
             
    </div>

    

  <!--<div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div> -->

  <!-- <div class="actions">
    <%= f.submit  %>
  </div> -->
<br>
<div style="margin-left: auto;margin-right: auto;display: table;">
   <button class="btn waves-effect waves-light actions-submit" type="submit" name="action" id="actions-form-submit" style="background: #2bb8c9;">Publicar</button>
</div>
<% end %>

           </div>
                
</div>
</div>
</section>
</div>
<!-- BEGIN CONTENT-->  

<style>
  
.estilo{
  border-bottom: 1px solid rgb(43, 184, 201);
border-top: none;
background-color: transparent;
border-left: none;
border-right: none;
}

.estilo2{
font-size: 18px;


}

</style>


<script>
  $("#message_archivo").change(function(){
    $("#logoorigen").val(""+this.value);
  });
</script>