<!-- BEGIN CONTENT-->
<div id="content">
  <section>
    <div class="section-body">
      <div class="row">
        <p id="notice"><%= notice %></p>

        <div class="page-header">
          <h1><%= link_to "Postea tu canal", new_message_path, class:"btn btn-success" %></h1>
        </div>



        <% @messages.each do |message| %>

        <!-- BEGIN ALERT - REVENUE -->
        <div class="col-md-12 col-sm-6">
          <div class="card">
            <div class="card-body no-padding">
              <div class="alert alert-callout alert-info no-margin">
               <!-- <strong class="pull-right text-success text-lg"><i class="fa fa-line-chart" aria-hidden="true"></i></strong>-->

               <strong class="text-xl"><h1>
                 ¿En que piensas?
                 

               </h1></strong><br/>

               <strong class="text-xl">

                <p>
                  <%= message.descripcion %>
                </p>
              </strong>
              <br/> 

              <div style="text-align: center;"><span class="opacity-50">

              <!--  <i class="fa fa-eye"><%= link_to 'Ver', message %></i>
                &nbsp;&nbsp;-->
                <i class="fa fa-pencil"> <%= link_to 'Edit', edit_message_path(message) %></i>
                &nbsp;&nbsp;

                <i class="fa fa-trash"> <%= link_to 'Eliminar', message, method: :delete, data: { confirm: '¿Seguro que desea eliminar el post?' } %></i> 
                &nbsp;&nbsp;



                <a href="#">Compartir<i class="fa fa-share-alt">

                </i></a>

                <a href="#">Adjuntar<i class="fa fa-picture-o">

                </i></a>
              </span>

              &nbsp;&nbsp;

              <%= link_to like_message_path(message), method:     :put do %>
              
              <i class="fa fa-thumbs-o-up"><span>
                <%= message.get_upvotes.size %>
              </span></i>


              &nbsp;&nbsp;
              <%end%>

            </div>
            <div>
              <%= commontator_thread(message) %>
            </div>
          </div>
        </div><!--end .card-body -->
      </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - REVENUE -->     


    <% end %>


    <br>







  </div>
</div>
</section>
</div>
<!-- BEGIN CONTENT-->  


<style>

  a:hover{
    color: rgb(43, 184, 200);
    text-decoration: none;

  }

</style>