<!-- estilos -->
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css" />


        <!-- BEGIN STYLESHEETS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
        
    
    
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/select2/select2.css?1424887856" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/multi-select/multi-select.css?1424887857" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/typeahead/typeahead.css?1424887863" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/dropzone/dropzone-theme.css?1424887864" />
        <!-- END STYLESHEETS -->
<!-- estilos -->



<!-- BEGIN CONTENT-->
<div id="content">
  <section>
    <div class="section-body">
      <div class="row">

        <div class="card">
          <div class="card-head style-primary">
            <header>Nuevo Post</header>
          </div>

          <div class="card-body">

            <form class="form" id="new_message"  action="/messages" accept-charset="UTF-8" method="post" enctype="multipart/form-data">

              <!-- canales -->

              <div class="col-lg-12">


                <select id="select-canal" class="form-control select2-list">

                  <option value="0">Selecciona un canal</option>

                  <% @canals.each do |canal| %>
                      

                  <%Favorito.where(user_id: current_user.id, preferencia_id: canal.preferencia_id).each do |f|%>
                      
                  <%if f.user_id == current_user.id%>


                  <option value="<%=canal.id%>"><%=canal.nombre%></option>

                  <%end%>
                  <%end%>
                  <%end%>



                </select>
                <label for="">Canales de mi preferencia</label>


              </div>

              <input type="hidden" name="favorito[preferencia_id]" id="favorito_preferencia_id">

              <input type="hidden" name="favorito[user_id]" id="favorito_user_id" value="<%=current_user.id%>"> 

              <!-- canales -->

              <!-- Descripcion y archivo -->

              <div class="col-lg-12" style="margin-top: 50px;">
                
                <!-- descripcion -->

                <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                   
                    <div class="input-group-content">
                      <input type="text" class="form-control" id="message_descripcion" name="message[descripcion]" required="true">
                      <label for="amount9">Mensaje</label>
                    </div>
                    <span class="input-group-addon"></span>
                  </div>
                </div>
              </div>

                <!-- decripcion -->

                <!-- Archivo -->

                 <!-- Logo de origen -->
                     <div class="col-sm-4" style="margin-top:-17px;">
                        <div class="form-group">



                        <div class="input-group" style="margin-top: 2px;">
                            <label class="input-group-btn">
                              <span class="btn btn-primary">
                                Archivo <input style="visibility:hidden; height:1px; width:1px;" name="message[archivo]" id="message_archivo" type="file">
                              </span>
                            </label>
                            <input style="margin-top: 15px;" class="form-control" readonly="" value="" id="logoorigen" type="text">
                          </div>


                        </div>
                      </div>
                      <!-- Logo de Origen -->


                <!-- Archivo -->

                <!-- user id -->

                <input type="hidden" name="message[user_id]" id="message_user_id" value="<%=current_user.id%>">

                <!-- user id -->

                 <!-- canal id -->

                 <input type="hidden" name="message[canal_id]" id="message_canal_id" value="">

                  <input type="hidden" name="message[tipo]" id="message_tipo" value="1">

                   

                  <!-- canal id -->

              </div>

              <!-- Descripcion y archivo -->

              <!-- Boton -->

              <div class="col-lg-12">
                
                <!-- Boton Guardar -->

                <div class="card-actionbar">
                  <div class="card-actionbar-row">
                    <input type="submit" class="btn btn-flat btn-primary ink-reaction" id="agregar" value="Postear">
                  </div>
                </div>

                <!-- Boton Guardar -->

              </div>

              <!-- Boton -->


            </form>



          </div>
        </div>


      </div>
    </div>
  </section>
</div>
<!-- BEGIN CONTENT-->


<script>
    $("#new_message").addClass("form");
</script>
<script src="https://kapitalizalo.tk/admin/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/select2/select2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/core/demo/DemoFormComponents.js"></script>
<script>
  $("#message_archivo").change(function(){
    $("#logoorigen").val(""+this.value);
  });

  $("#select-canal").change(function(){
    $("#message_canal_id").val(""+this.value);

      
         $('#new_message').attr('action', '/messages?canal='+this.value);
      


  });
</script>