<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
             

<!--<p>
  <strong>Tipo:</strong>
  <%= @message.tipo %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @message.archivo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @message.descripcion %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %> -->


 <!-- BEGIN ALERT - REVENUE -->
              <div class="col-md-5 col-sm-6">
                <div class="card">
                  <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">
                     <!-- <strong class="pull-right text-success text-lg"><i class="fa fa-line-chart" aria-hidden="true"></i></strong>-->

                      <strong class="text-xl"><h1>
  
 Post
</h1></strong><br/>

<strong class="text-xl"><p>
  
   <%= @message.descripcion %>
</p></strong><br/>
          <span class="opacity-50">


          <i class="fa fa-pencil"><%= link_to 'Editar',edit_message_path(@message) %></i>
           &nbsp;&nbsp;

          <i class="fa fa-reply"><%= link_to 'Back', messages_path %></i>
           &nbsp;&nbsp;
          
          <%= link_to like_message_path(message), method:     :put do %>
          <button type="button" arial-label="Left Align">
            <i class="fa fa-thumbs-o-up"><span>
              <%= message.get_upvotes.size %>
            </span></i>
          </button>
           
           &nbsp;&nbsp;
           <%end%>
           <a href="#">Compartir<i class="fa fa-share-alt"></i></a>
           &nbsp;&nbsp;
            <a href="#">Adjuntar<i class="fa fa-picture-o"></i></a>
          </span>
                      
                    </div>
                  </div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END ALERT - REVENUE -->
</div>
</div>
</section>
</div>
<!-- BEGIN CONTENT-->  