<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
       <div class="col-lg-6">  
<%= form_for(preferencium) do |f| %>
  <% if preferencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preferencium.errors.count, "error") %> prohibited this preferencium from being saved:</h2>

      <ul>
      <% preferencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field" style="margin-left: auto;margin-right: auto;display: table;">
                <div data-icon="&#xe563;" class="prefix"></div>

  <div class="estilo2"><%= f.label :nombre %>:</span>
                <%= f.text_field :nombre, class: "validate estilo" %>

  </div>

    
<br>
<div style="margin-left: auto;margin-right: auto;display: table;">
   <button class="btn waves-effect waves-light actions-submit" type="submit" name="action" id="actions-form-submit" style="background: #2bb8c9;">Guardar</button>
</div>
<% end %>

           </div>
                
</div>
</div>
</section>
</div> 
<!-- BEGIN CONTENT-->  

<style>
  
.estilo{
  border-bottom: 1px solid rgb(43, 184, 201);
border-top: none;
background-color: transparent;
border-left: none;
border-right: none;
}

.estilo2{
font-size: 18px;


}

</style>