<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
              <p id="notice"><%= notice %></p>

                <div class="page-header">
                <h1><%= link_to "Agregar preferencia", new_preferencium_path, class:"btn btn-success" %></h1>
                </div>
            
                <!-- Lista -->


                      <tbody>
                        <% @preferencia.each do |preferencium| %>
                          <tr>
                            <td><%= preferencium.nombre %></td>
                     <div style="text-align: center;"><span class="opacity-50">
        
                    <i class="fa fa-eye"><%= link_to 'Ver', preferencium %></i>
                    &nbsp;&nbsp;
                    <i class="fa fa-pencil"> <%= link_to 'Edit', edit_preferencium_path(preferencium) %></i>
                    &nbsp;&nbsp;
           
                  <i class="fa fa-trash"> <%= link_to 'Eliminar', preferencium, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' } %></i> 
                  &nbsp;&nbsp; 
          </span>
          </div>
                          </tr>
                        <% end %>
                      </tbody>
                
              
            </div>
          </div>
        </section>
      </div>
<!-- BEGIN CONTENT-->


