<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
			<h1 style="margin-left: auto;margin-right: auto;display: table;">Añadir preferencia</h1>

<div class="col-md-12 col-sm-6">
                <div class="card">
                  <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">

<%= render 'form', preferencium: @preferencium %>

<div style="margin-left: auto;margin-right: auto;display: table;"> <%= link_to 'Volver', preferencia_path %>



				</div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END ALERT - REVENUE -->  

              </div>
           </div>
          </section>
        </div>