<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
              <p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

 <!-- BEGIN ALERT - REVENUE -->
              <div class="col-md-5 col-sm-6">
                <div class="card">
                  <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">
                     <!-- <strong class="pull-right text-success text-lg"><i class="fa fa-line-chart" aria-hidden="true"></i></strong>-->

                      <strong class="text-xl"><h1>
  

<p>
  <strong>Nombre:</strong>
  <strong class="text-xl"><p>
  <%= @preferencium.nombre %>
</p></strong><br/>
	 <span class="opacity-50">

          <i class="fa fa-pencil"><%= link_to 'Editar',edit_preferencium_path(@preferencium) %></i>
           &nbsp;&nbsp;

          <i class="fa fa-reply"><%= link_to 'Back', preferencia_path %></i>
           &nbsp;&nbsp;
          </span>
                      
                    </div>
                  </div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END ALERT - REVENUE -->
</div>
</div>
</section>
</div>
<!-- BEGIN CONTENT-->  