	<!-- Included Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
	
	
	<!-- CSS Files comes here -->
	<link href="https://deblime.com/kapitalizalo/css/grid12.css" rel="stylesheet" media="screen">
	<!-- Grid System -->
	<link href="https://deblime.com/kapitalizalo/css/james_typography.css" rel="stylesheet" media="screen">                       
	<!-- James Framework - TYPOGRAPHY -->
	<link href="https://deblime.com/kapitalizalo/css/main.css" rel="stylesheet" media="screen">                                   
	<!-- Main CSS file -->
    <link href="https://deblime.com/kapitalizalo/css/color_scheme_light.css" rel="stylesheet" media="screen"> 

    <!-- Color scheme (dark/light)-->
	<link href="https://deblime.com/kapitalizalo/css/colors/color_palette_blue.css" rel="stylesheet" media="screen">              
	<!-- Color palette -->
	<%= stylesheet_link_tag "rapid-icons.css" %>                              
	<!-- James Framework - ICONS -->
	<link href="https://deblime.com/kapitalizalo/css/js_styles/jquery.maximage.min.css" rel="stylesheet" media="screen">
	       
	<!-- MaxImage background image slideshow -->
	<link href="https://deblime.com/kapitalizalo/css/responsivity.css" rel="stylesheet" media="screen">                           
	<!-- Responsive Fixes -->
	<link href="https://deblime.com/kapitalizalo/css/animate.css" rel="stylesheet" media="screen">                                
	<!-- Animate - animations -->
	<link href="https://deblime.com/kapitalizalo/css/nivo-lightbox.css" rel="stylesheet" media="screen">                          
	<!-- Lightbox Styles -->
    <link href="https://deblime.com/kapitalizalo/css/nivo_lightbox_themes/default/default.css" rel="stylesheet" media="screen">   
    <!-- Lightbox Styles -->
    <link href="https://deblime.com/kapitalizalo/css/owl.carousel.css" rel="stylesheet" media="screen">                           
    <!-- Owl - Carousel -->
    <link href="https://deblime.com/kapitalizalo/css/owl.theme.css" rel="stylesheet" media="screen">                      		 
    <!-- Owl - Carousel -->
    <link href="https://deblime.com/kapitalizalo/css/owl.transitions.css" rel="stylesheet" media="screen">                        
    <!-- Owl - Carousel -->
    
    
	<!-- Modernizer and IE specyfic files -->  
	<script src="https://deblime.com/kapitalizalo/js/modernizr.custom.js"></script>	