
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<!-- estilo logo -->

	<style>

	
		.menu_bar{
			margin-top: 160px;
			height: 155px;
		}
		
		
		.logo{
			width: 260px; height: 120px; margin-top: -15px;
		}

		.close_icon{
			color: #2bb8c9;
		}

		.slogan{
			color:white; opacity: 1; font-size: 60px; width: 100%;
			text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.72);
			margin-top: -70px;
			line-height: 110%;
			
		}

		#maximage_single{
			margin-top: 100px;
		}

		/*** scrolls ***/

		#moreinfo{
			margin-top: -100px; z-index: 999; position: absolute; visibility: hidden;
		}

		#newsinfo{
			margin-top: -130px; z-index: 999; position: absolute; visibility: hidden;
		}

		#portafolioinfo{
			margin-top: -100px; z-index: 999; position: absolute; visibility: hidden;
		}

		#contactinfo{
			margin-top: -130px; z-index: 999; position: absolute; visibility: hidden;
		}



		/*** scrolls ***/

	
	@media (max-width: 1000px) {
		.menu_bar{
			margin-top: 65px;
			height: 65px;
		}

		#maximage_single{
			margin-top: 30px;
		}

		.logo{
			width: 100px; height: 45px; margin-top: -10px;
		}

		.close_icon{
			margin-top: -30px;
		}

		#portafolioinfo{
			margin-top: -60px; z-index: 999; position: absolute; visibility: hidden;
		}

		.slogan{
			color:white; 
			opacity: 1; 
			font-size: 30px; 
			width: 100%; 
			margin-top: -80px;

		}

	
		/*** scrolls ***/

		#moreinfo{
			margin-top: -60px; z-index: 999; position: absolute; visibility: hidden;
		}

		#newsinfo{
			margin-top: -60px; z-index: 999; position: absolute; visibility: hidden;
		}

		#contactinfo{
			margin-top: -30px; z-index: 999; position: absolute; visibility: hidden;
		}

		/*** scrolls ***/

	}
	</style>

<!-- estilo logo -->


<body>
	<!-- Mobile nav -->      
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <div class="mobile_nav_close_button"><a href="" id="hideRight"><div data-icon="&#xe13f;" class="button_icon close_icon"></div></a></div>
        <nav id="mobile_menu_content">
        	

            <a href="#moreinfo" >RedUCLA</a>
            <a id="comofunciona2" href="#" >CÓMO FUNCIONA</a>
            <a href="#newsinfo" >NEWSLETTER</a>
            <a href="#portafolioinfo" >PORTAFOLIO</a>

           
            <a href="#contactinfo" >CONTACTO</a>
            <a id="logingrande" href="#" >INICIAR SESIÓN</a>
        </nav>
    </div>
    <!-- //Mobile nav -->
  
	<div id="preloader_container">
	    
	    <!-- Preloader Screen -->
		<header class="preloader_header">	 
	        <div class="preloader_loader">
	            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
	                <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	                <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	            </svg>
	        </div>
	    </header>
	    <!-- //Preloader Screen -->
	
	
		<!-- Presenta Problemas -->

		<!-- Fullscreen homepage -->
		<section class="hero_fullscreen background_single menu_bar-waypoint" data-animate-down="menu_bar-hide" data-animate-up="menu_bar-hide">
		
				
			<!-- Logo and navigation -->
		  	<div class="container top_bar" >
		  		<div class="row">
		  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  			<img src="https://kapitalizalo.tk/img/vertical.png" alt="logo" class="logo" style="width: 100px; height: 50px; margin-top: -15px; visibility: hidden;"/>
		  			<nav class="navigation_desktop">
		  				<ul>
		  					<!--
		  					<li><a href="#more_info" class="visible-lg visible-md go_to_overview">Overview</a></li>-->
		  					
		  					<li><a href="#more_info" class="visible-lg visible-md">Inicio</a></li>
		  					<li><a href="#featuresinfo" class="visible-lg visible-md">Conócenos</a></li>
		  					
		  					<li><a href="#features_video" class="visible-lg visible-md">Medios</a></li>
		  					<li><a href="#newsletter" class="visible-lg visible-md">Newsletter</a></li>
		  					<li><a href="#contact" class="visible-lg visible-md">Contacto</a></li>
		  					<%if current_user%>
		  					<li>
		  						 <%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete, id: "logout") %>    
		  					</li>
		  					<%end%>
		  					<li><div class="mobile_nav_open_button hidden-lg hidden-md"  ><a href="" id="showRight_1" ><div data-icon="&#xe2f3;" class="button_icon close_icon"></div></a></div></li>
		  				</ul>
		  			</nav>
		  			</div>
		  		</div>
			</div>
			<!-- //Logo and navigation -->


			<!-- Main content -->

		  	<div class="container align-center" id="main_content">

				<div class="content_container row" >



					<h2 class="slogan"><strong><%=@landing.texto1%> <br><%=@landing.textobanner%></strong></h2>

					
					
					<!-- CTA Buttons-->
						<div class="cta_button_area">
							<div><button id="registrar" class="btn waves-effect waves-light subscribe-submit" style="background: #2bb8c9;">Registrarse</button></div>
							
						</div>

						
					<!-- //CTA Buttons-->
					


					<!-- Mockups
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 home_mockup">
						<img src="https://deblime.com/kapitalizalo/images/mockups/1/back.png" alt="" class="mockup-animation1 home_mockup_image">
						<img src="https://deblime.com/kapitalizalo/images/mockups/1/front.png" alt="" class="mockup-animation2 home_mockup_image">					
					</div>
					 //Mockups-->

				</div>

			</div>  

			<!-- //Main content -->
			



			<!-- Video Background -->
			<div id="maximage_video">
				<video autoplay="autoplay" loop="loop" muted="muted" width="896" height="504">
				    <source src="video/video.mp4" type="video/mp4" />
				    <source src="video/video.webm" type="video/webm" />
				    <source src="video/video.ogv" type="video/ogg" />
				</video>
			</div>
			<!-- //Video Background -->
			
			
			<!-- Slider Background 
			<div id="maximage_slider">
				<img src="https://deblime.com/kapitalizalo/images/background_slider_01.jpg" alt=""/>
				<img src="https://deblime.com/kapitalizalo/images/background_slider_02.jpg" alt=""/>
				<img src="https://deblime.com/kapitalizalo/images/background_slider_03.jpg" alt=""/>
				<img src="https://deblime.com/kapitalizalo/images/background_slider_04.jpg" alt=""/>
			</div>
			 //Slider Background -->
			
			
			<!-- Single Image Background -->
			<div id="maximage_single" >
			
			</div>
			<!-- //Single Image Background -->
			
			<!-- estilos menu -->
				<style>
					.linkmenuprincipal{
						color:blue;
					}
				</style>
			<!-- estilos menu -->
			
		</section><!-- //Homepage -->

		<!-- Presenta Problemas -->
		
		
		<!-- Menu bar -->
		<header class="menu_bar">
			<div class="container">
				<a href="" class="go_to_home logo_dark"><img src="<%= asset_path 'red-ucla.jpg' %>" alt="logo" class="logo"  /></a>
				
				<nav class="menu_bar_navigation">
	  				<ul style="margin-top: 30px; font-size: 10px;">
	  					<!--<li class="visible-lg visible-md"><a href="#more_info" class="go_to_overview" >Overview</a></li>-->
	  					
	  					<li class="visible-lg visible-md"><a href="#moreinfo" >RedUCLA</a></li>
	  				
	  					<li class="visible-lg visible-md"><a href="#contactinfo" >CONTACTO</a></li>
	  				
	  					<li class="visible-lg visible-md last-item"><button id="iniciarsesionmenu" class="btn waves-effect waves-light subscribe-submit" style="background: #2bb8c9;">INICIAR SESIÓN</button></li>
	  					<li class="hidden-lg hidden-md"><div class="mobile_nav_open_button "><a href="" id="showRight_2"><div data-icon="&#xe2f3;" class="button_icon close_icon"></div></a></div></li>
	  				</ul>
	  			</nav>
			</div>
		</header><!-- // Menu bar -->
	
		
		<!-- More Info #################### -->
		<span id="moreinfo" >asd</span>
		<section id="more_info" data-animate-down="menu_bar-show" data-animate-up="menu_bar-hide" class="menu_bar-waypoint subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 align-center content_anim1 intro">
						<h3 style="color:#2bb8c9;"><%=@landing.titulo_seccion2%></h3>

						<p style="font-size: 20px;"><%=@landing.texto1_seccion2%></p>

						<p style="font-size: 20px;"><%=@landing.texto2_seccion2%></p>

					</div>
				</div>				
			</div>
			
			<div class="more_info_mockup content_anim2 ">
			
			</div>
			

			
		</section><!-- //More info -->
		
		
		


		
		<!-- Newsletter #################### -->

<style>
	#newsletter {
 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	color:white;
}


</style>
		
		

		
		


		
		<span id="contactinfo" >asd</span>	
		<section id="contact" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content_anim29">
					<h3><%=@landing.contactotituloizq%></h3>
					<p><%=@landing.contactotextoizq%></p>
					<p>Ubícanos</p>
					
					<ul class="icon_list">
						<li><div data-icon="&#xe1b4;" class="icon_small float-left"></div><h6><%=@landing.contactodireccion%><br>Venezuela</h6></li>
						<li><div data-icon="&#xe23a;" class="icon_small float-left"></div><h6><%=@landing.contactotelefono%></h6>+58(251)5550000</li>
						<li><div data-icon="&#xe242;" class="icon_small float-left"></div><h6><a href="mailto:<%=@landing.contactocorreo%>"><%=@landing.contactocorreo%></a></h6>reducla@edu.ve</li>
					</ul>
					
					<p><%=@landing.contactonombre%></p>	
					</div>
					
					
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim30">
						<h3>Contáctanos</h3>
						<p id="dudes">No dudes en escribirnos.</p>
						<p style="color:#2bb8c9;" id="mensajecontactform"><strong>Tu mensaje ha sido enviado satisfactoriamente</strong></p>
					
						<!-- Contact Form -->
						<form action="https://docs.google.com/forms/d/e/1FAIpQLSfDCB595dGM_My151py3FGV2d4mlntzgJyAsTmauHbP7u5FrQ/formResponse" method="POST" id="contact-form" target="_self" onsubmit="">
							<div class="contact_form">
								<div class="input-field">
					  				
					  				<input type="text" name="entry.726043861" value="" class="ss-q-short" id="first_name" dir="auto" aria-label="Nombre  " title="">
					  				<label for="first_name">Nombre</label>
					  			</div>
					  			<div class="input-field">
					  				
					  			<input type="email" name="entry.589350672" value="" class="ss-q-short" id="contact_email" dir="auto" aria-label="Email  " title="">
					  				<label for="contact_email">Email</label>
					  			</div>
					  			<div class="input-field">
						  			
						  			<textarea name="entry.349723958" rows="8" cols="0" class="materialize-textarea" id="entry_349723958" dir="auto" aria-label="Mensaje  "></textarea>
						  			<label>Mensaje</label>
						  		</div>
				  			</div>	
				  			<button id="submitcontact" style="background: #2bb8c9;" class="btn waves-effect waves-light" type="submit" name="action">Enviar</button>
						</form>

						<script>
						/*
						$(document).ready(function(){
							$("#mensajecontactform").fadeOut();
							$("#submitcontact").click(function(){
								alert();
								$("#mensajecontactform").fadeIn("slow", function(){
									$("#first_name").val("");
									$("#contact_email").val("");
									$("#entry_349723958").val("");
									
								});

							});
						});*/
						$("#mensajecontactform").fadeOut();
						$("#submitcontact").click(function(){
								
								$("#mensajecontactform").fadeIn("slow", function(){
									$("#first_name").val("");
									$("#contact_email").val("");
									$("#entry_349723958").val("");
									
								});

							});
						</script>
						

						<!-- //Contact Form -->
					
					
						<div id="message"><div id="alert"></div></div><!-- Message container --> 
					</div>
					
					

				</div>				
			</div>
		</section><!-- //More info -->
		
		
		<section id="footer" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
					
						<!-- Social Icons -->
						<div class="social_icons_container align-center">
						  	<div class="social_icons">
				                <ul>


							<!-- Facebook -->
							<%if @landing.footerfacebook != nil && @landing.footerfacebook != '' %>
						    <li><a target="_blank" href="<%=@landing.footerfacebook%>"><i class="redes fa fa-facebook-square" aria-hidden="true"></i></a></li>
							<%end%>
						    <!-- Facebook -->

						    <!-- Twitter -->
							<%if @landing.footertwitter != nil && @landing.footertwitter != '' %>
						    <li><a target="_blank" href="<%=@landing.footertwitter%>"><i class="redes fa fa-twitter-square" aria-hidden="true"></i></a></li>
							<%end%>
						    <!-- Twitter -->

						    <!-- Instagram -->
							<%if @landing.footerinstagram != nil && @landing.footerinstagram != '' %>
						    <li><a target="_blank" href="<%=@landing.footerinstagram%>"><i class="redes fa fa-instagram" aria-hidden="true"></i></a></li>
							<%end%>
						    <!-- Instagram -->

						    <!-- Linkedin -->
							<%if @landing.footerlinkedin != nil && @landing.footerlinkedin != '' %>
						    <li><a target="_blank" href="<%=@landing.footerlinkedin%>"><i class="redes fa fa-linkedin" aria-hidden="true"></i></a></li>
							<%end%>
						    <!-- Linkedin -->

						    <!-- Google -->
							<%if @landing.footergoogle != nil && @landing.footergoogle != '' %>
						    <li><a target="_blank" href="<%=@landing.footergoogle%>"><i class="redes fa fa-google-plus" aria-hidden="true"></i></a></li>
							<%end%>
						   <!-- Google -->

						   

				                    
						   <style>
						     .redes{
							font-size:30px;
							color:#848682;
							transition:all 0.5s;
						     }

						.redes:hover{ 
                                                        color:#2bb8c9;
                                                     }

						  </style>
				                </ul>
						    </div>
					    </div>	
						<!-- //Social Icons -->

					<p><small>Copyright © 2016-2017 <strong><a href="/" style="color:#2bb8c9;">RedUCLA</a></strong>, Powered by <strong><a style="color:#2bb8c9;" href="https://reducla.com" target="_blank">RedUCLA</a></strong></small></p>	
					</div>
				</div>				
			</div>
		</section><!-- //More info -->
		

	</div><!-- //preloader -->
	

	<style>
		.logoreview{
			 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(100%);
    		transition: all 0.5s;
		}

		.logoreview:hover{
			 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(0%);
		}
	</style>
   
	<!-- JavaScript plugins comes here -->	
    <script src="https://deblime.com/kapitalizalo/js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="https://deblime.com/kapitalizalo/js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.form.js"></script>    		  <!-- jQuery form -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="https://deblime.com/kapitalizalo/js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="https://deblime.com/kapitalizalo/js/classie.js"></script>                 <!-- Class helper function -->
	<script src="https://deblime.com/kapitalizalo/js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
	<script src="https://deblime.com/kapitalizalo/js/preloader.js"></script>               <!-- Preloader -->
    <script src="https://deblime.com/kapitalizalo/js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="https://deblime.com/kapitalizalo/js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="https://deblime.com/kapitalizalo/js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="https://deblime.com/kapitalizalo/js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="https://deblime.com/kapitalizalo/js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="https://deblime.com/kapitalizalo/js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.fitvids.js"></script>      	  <!-- Responsive Video -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.stellar.js"></script>      	  <!-- Parallax backgrounds -->
    <script src="https://deblime.com/kapitalizalo/js/owl.carousel.js"></script>      	  <!-- Owl Carousel --> 
   <script src="https://deblime.com/kapitalizalo/js/main.js"></script>   

                     <!-- Main Js file -->
    
    
    <!-- Show message after newsletter form submit -->
	<script type="text/javascript">
        $('document').ready(function()
            {
            $('#subscribe-form').ajaxForm( {
                target: '#preview',
                success: function() {       
                      $('#preview').addClass( "show_message" );
                    }
                });
            });
    </script>

    <!-- MOBILE NAVIGATION -->
    <script>
        var showRight_1 = document.getElementById( "showRight_1" ),
        showRight_2 = document.getElementById( "showRight_2" ),
        hideRight = document.getElementById( 'hideRight' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        body = document.body;
        
        showRight_1.onclick = function(event) {
       		"use strict";
       		event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_1' );
            return false;
        };
        
        showRight_2.onclick = function(event) {
       		"use strict";
       		event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_2' );
            return false;
        };
    
        hideRight.onclick = function(event) {
        	"use strict";
        	event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_2' );
            return false;
        };
    </script>
    
    
    <!-- Nav Bar show/hide after scrolling -->
	<script>
	var $head = $( '#menu_bar' );
	$( '.menu_bar-waypoint' ).each( function(i) {
		var $el = $( this ),
			animClassDown = $el.data( 'animateDown' ),
			animClassUp = $el.data( 'animateUp' );
			

		$el.waypoint( function( direction ) {
			if( direction === 'down' && animClassDown ) {
				$head.attr('class', 'menu_bar ' + animClassDown);
			}
			else if( direction === 'up' && animClassUp ){
				$head.attr('class', 'menu_bar ' + animClassUp);
			}
		}, { offset: function() {
			navbarheight = $("#menu_bar").outerHeight()+1;
			return navbarheight;
			}
		 } );
	} );
	</script>
	
	<script>
		$("#login").click(function(){
			window.location.href = '/users/sign_in';
		});

		$("#comofunciona").click(function(){
			window.location.href = '/informacion';
		});

		$("#comofunciona2").click(function(){
			window.location.href = '/informacion';
		});

		$("#logingrande").click(function(){
			window.location.href = '/users/sign_in';
		});

		$("#logingrande2").click(function(){
			window.location.href = '/users/sign_in';
		});

		$("#registrar").click(function(){
			window.location.href = '/users/sign_up';
		});

		$("#iniciarsesionmenu").click(function(){
			window.location.href = '/users/sign_in';
		});
	</script>
	
	

<style>
	@media (min-width: 800px) {
		
		.two{
			font-size: 30px;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px;
			
		}

	}

	@media (max-width: 799px) {

	}
</style>


  </body>
