<!-- estilo logo -->

	<style>

	
		.menu_bar{
			margin-top: 160px;
			height: 155px;
		}
		#features{
			margin-top: 60px;
		}
		
		.logo{
			width: 260px; height: 120px; margin-top: -15px;
		}

		.close_icon{
			color: #2bb8c9;
		}

		/*** scrolls ***/

		#featuresinfo{
			margin-top: -150px; z-index: 999; position: absolute; visibility: hidden; 
		}

		#moreinfo{
			margin-top: -100px; z-index: 999; position: absolute; visibility: hidden;
		}

		#newsinfo{
			margin-top: -130px; z-index: 999; position: absolute; visibility: hidden;
		}

		#portafolioinfo{
			margin-top: -100px; z-index: 999; position: absolute; visibility: hidden;
		}

		#contactinfo{
			margin-top: -130px; z-index: 999; position: absolute; visibility: hidden;
		}

		
	
	@media (max-width: 1000px) {
		.menu_bar{
			margin-top: 65px;
			height: 65px;
		}

		#featuresinfo{
			margin-top: -60px; z-index: 999; position: absolute; visibility: hidden; 
		}

		#features{
			margin-top: 15px;
		}

		.logo{
			width: 100px; height: 45px; margin-top: -10px;
		}

		.close_icon{
			margin-top: -30px;
		}

		#imagencomofunciona{
			display: none;
		}

		/*** scrolls ***/

		#moreinfo{
			margin-top: -60px; z-index: 999; position: absolute; visibility: hidden;
		}

		#newsinfo{
			margin-top: -60px; z-index: 999; position: absolute; visibility: hidden;
		}

		#contactinfo{
			margin-top: -30px; z-index: 999; position: absolute; visibility: hidden;
		}

		/*** scrolls ***/


	}
	</style>

<!-- estilo logo -->


<body>
	<!-- Mobile nav -->      
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <div class="mobile_nav_close_button"><a href="" id="hideRight"><div data-icon="&#xe13f;" class="button_icon close_icon"></div></a></div>
        <nav id="mobile_menu_content">
        	

            <a id="atrasinfo" href="#" >ATRÁS</a>
            <a href="#featuresinfo" >CONÓCENOS</a>
            <a href="#features_video" >MEDIOS</a>
            <a href="#reviews" >FAQ</a>
            <a href="#newsletter" >NEWSLETTER</a>
            <a href="#contact" >CONTACTO</a>
            <a id="logingrande" href="#" >INICIAR SESIÓN</a>
        </nav>
    </div>
    <!-- //Mobile nav -->
  
	<div id="preloader_container">
	    
	    <!-- Preloader Screen -->
		<header class="preloader_header">	 
	        <div class="preloader_loader">
	            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
	                <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	                <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	            </svg>
	        </div>
	    </header>
	    <!-- //Preloader Screen -->
	
	<!-- Logo and navigation -->
		  	<div class="container top_bar" >
		  		<div class="row">
		  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  			<img src="https://kapitalizalo.tk/img/vertical.png" alt="logo" class="logo" style="width: 100px; height: 50px; margin-top: -15px; visibility: hidden;"/>
		  			<nav class="navigation_desktop">
		  				<ul>
		  					<!--
		  					<li><a href="#more_info" class="visible-lg visible-md go_to_overview">Overview</a></li>-->
		  					
		  					<li><a href="#more_info" class="visible-lg visible-md">Kapitalízalo</a></li>
		  					<li><a id="" href="#" class="visible-lg visible-md">Cómo funciona</a></li>
		  					
		  					<li><a href="#features_video" class="visible-lg visible-md">Medios</a></li>
		  					<li><a href="#newsletter" class="visible-lg visible-md">Newsletter</a></li>
		  					<li><a href="#contact" class="visible-lg visible-md">Contacto</a></li>
		  					<%if current_user%>
		  					<li>
		  						 <%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete, id: "logout") %>    
		  					</li>
		  					<%end%>
		  					<li><div class="mobile_nav_open_button hidden-lg hidden-md"  ><a href="" id="showRight_1" ><div data-icon="&#xe2f3;" class="button_icon close_icon"></div></a></div></li>
		  				</ul>
		  			</nav>
		  			</div>
		  		</div>
			</div>
			<!-- //Logo and navigation -->
		
		
		<!-- Menu bar -->

		<style>
			.linkmenuinfo, #showRight_2{
				text-decoration: none;
			}

			.linkmenuinfo:hover, #showRight_2:hover{
				text-decoration: none;
			}
		</style>

		<header class="menu_bar">
			<div class="container">
				<a href="#featuresinfo" class="go_to_home logo_dark"><img src="<%= asset_path 'horizontal.png' %>" alt="logo" class="logo"  /></a>
				
				<nav class="menu_bar_navigation">
	  				<ul style="margin-top: 30px;">
	  					<!--<li class="visible-lg visible-md"><a href="#more_info" class="go_to_overview" >Overview</a></li>-->
	  					
	  					<li class="visible-lg visible-md"><a class="linkmenuinfo" id="paginaprincipal" href="#" >ATRÁS</a></li>
	  					<li class="visible-lg visible-md"><a class="linkmenuinfo" href="#featuresinfo" >CONÓCENOS</a></li>
	  					<li class="visible-lg visible-md"><a class="linkmenuinfo" href="#videoinfo" >MEDIOS</a></li>
	  					
	  					<li class="visible-lg visible-md"><a class="linkmenuinfo" href="#faqinfo" >FAQ</a></li>
	  					<li class="visible-lg visible-md"><a class="linkmenuinfo" href="#newsinfo" >NEWSLETTER</a></li>
	  					<li class="visible-lg visible-md"><a class="linkmenuinfo" href="#contactinfo" >CONTACTO</a></li>
	  					
	  					<li class="visible-lg visible-md last-item"><button id="iniciarsesionmenu" class="btn waves-effect waves-light subscribe-submit" style="background: #2bb8c9;">Iniciar Sesión</button></li>
	  					<li class="hidden-lg hidden-md"><div class="mobile_nav_open_button "><a href="" id="showRight_2"><div data-icon="&#xe2f3;" class="button_icon close_icon"></div></a></div></li>
	  				</ul>
	  			</nav>
			</div>
		</header><!-- // Menu bar -->
	
		
		
		
		<!-- Features #################### -->
		<span id="featuresinfo" >asd</span>
		<section id="features" class="subsection" >
			<div class="container">
				<div class="row">
				
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="imagencomofunciona">
						<div class="mockup_container">
						<img src="https://deblime.com/kapitalizalo/images/mockups/subsection_mockups/2a.png" alt="" class="img_responsive mockup_back content_anim10" />
						<img src="https://deblime.com/kapitalizalo/images/mockups/subsection_mockups/2b.png" alt="" class="img_responsive mockup_front content_anim9" />	
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					

						<div class="iconbox content_anim7">
							
							<div class="iconbox_content">
								<h5><i class="fa fa-sitemap" aria-hidden="true" style="padding-right: 15px; color: #2bb8c9;"></i> <span style="color:#2bb8c9;">¿Cómo funciona el modelo?</span></h5>
								<p style="font-size: 14px; text-align: justify;"><strong>1.</strong> Las Incubadoras y Aceleradoras de negocios más reconocidas, suben a nuestra plataforma startups que han sido previamente acreditadas, que cuentan con un amplio potencial de éxito y que se encuentran en fase de levantamiento de capital. <br><strong>2.</strong> Tú y cientos de personas, invierten -mediante notas convertibles- en las startups que les parecen más prometedoras y que se adaptan mejor a tu perfil de riesgo. <br><strong>3.</strong> En Kapitalízalo, tanto startups como inversionistas, tienen acceso a un panel en donde mantienen el control de las inversiones <br><strong>4.</strong> Una vez que cada startup alcanza ciertos objetivos, los inversionistas se convierten en accionistas y reciben sus títulos accionarios. <br><strong>5.</strong> Siendo accionistas, los inversionistas participan de las utilidades de las empresas. En el caso de un evento de liquidez, los accionistas pueden multiplicar su inversión por varias veces.</p>
							</div>
						</div>
						
						<div class="iconbox content_anim7">
							
							<div class="iconbox_content">
								<h5><i class="fa fa-credit-card-alt" aria-hidden="true" style="padding-right: 15px; color: #2bb8c9;"></i> <span style="color: #2bb8c9;">¿Cómo comienzo a invertir?</span></h5>
								<p style="font-size: 14px; text-align: justify;"><strong>1.</strong> Busca entre las startups de nuestra plataforma.<br><strong>2.</strong> Selecciona tu primera startup para invertir.<br><strong>3.</strong> Determina el monto a invertir y realiza tu inversión mediante transferencia electrónica, depósito bancario, PayPal o PayU.<br><strong>4.</strong> Repite los pasos hasta conseguir un portafolio diversificado, adecuado a tu perfil de riesgo.</p>
							</div>
						</div>

						<div class="iconbox content_anim7">
							
							<div class="iconbox_content">
								<h5><i class="fa fa-line-chart" aria-hidden="true" style="padding-right: 15px; color: #2bb8c9;"></i> <span style="color: #2bb8c9;">¿Cómo se realiza la capitalización de las startups?</span></h5>
								<p style="font-size: 14px; text-align: justify;"><strong>1.</strong> Los inversionistas envían los montos que deciden invertir en cada startup directamente a Kapitalízalo a través de transferencia electrónica, depósito bancario, PayPal o PayU.<br><strong>2.</strong> Kapitalízalo envía los recursos a cada startup, una vez que se alcanzan ciertos objetivos.<br><strong>3.</strong> Las startups invierten en sus proyectos y el mundo cambia.</p>
							</div>
						</div>
							
					</div>
				</div>				
			</div>	
		</section><!-- //Features -->
		
		
		<!-- Features - Video #################### -->
		<span id="videoinfo" style="margin-top: -150px; z-index: 999; position: absolute; visibility: hidden; ">asd</span>
		<section id="features_video" class="subsection">
			<div class="container">
			
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 play content_anim11">
						<a href="#video_modal_box" data-lightbox-type="inline" class="btn waves-effect waves-light" id="Play_Video" style="background: #2bb8c9;">Kapivideo</a>	
					</div>
				</div>

				<!-- Video - lightbox -->
				<div id="video_modal_box" style="display:none; background:white">
					<iframe src="https://www.youtube.com/embed/LvGa1JnSRCk" width="500" height="281" frameborder="0" allowfullscreen></iframe>
					
				</div>
				<!-- //Video - lightbox -->

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="intro content_anim12">
							<h3 style="color:#2bb8c9;">Mira nuestro video y conoce los beneficios del Crowdfunding</h3>
							<p>El crowdfunding o micromecenazgo, en castellano, es una red de financiación colectiva, normalmente online, que a través de donaciones económicas o de otro tipo, consiguen financiar un determinado proyecto a cambio de recompensas</p>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<ul class="icon_list">
							<li class="content_anim13"><div data-icon="&#xe24f;" class="icon_small float-left"></div><h6>Transmite tu motivación</h6></li>
							<li class="content_anim14"><div data-icon="&#xe1d7;" class="icon_small float-left"></div><h6>Preséntala de forma atractiva y original</h6></li>
							<li class="content_anim15"><div data-icon="&#xe027;" class="icon_small float-left"></div><h6>Compártela sin miedo</h6></li>
							<li class="content_anim16"><div data-icon="&#xe102;" class="icon_small float-left"></div><h6>Crea un prototipo</h6></li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- //Features - Video -->


		
		
		<!-- Reviews #################### -->
		
<style>
	.subsection_parallax {
	padding-top:7rem;
	padding-bottom:7rem;
	position:relative;
	z-index:1;
}

#reviews {
	background: url(<%= asset_path 'reviewsbg.jpg' %>) repeat-y 0 0  fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	color:white;
}
</style>
		<span id="faqinfo" style="margin-top: -150px; z-index: 999; position: absolute; visibility: hidden; ">asd</span>
		<section id="reviews" class="subsection_parallax"  data-stellar-background-ratio="0.6">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim17">
					<h3 style="color:white;">Preguntas Frecuentes</h3>
						<div class="owl-carousel">
						
							<div class="single_review">
								
								<div class="review_content">
									<br>
									<h6>¿Qué es el Crowdfunding?</h6>
									<p>Lo primero que debe saber la gente es que sientes pasión por lo que haces, que tienes motivación por sacar el proyecto adelante y que te vas a dejar la piel por hacerlo realidad. Por ello, debes transmitir tu motivación y explicar a tus posibles mecenas qué es lo que te motiva como emprendedor.</p>
								</div>
							</div>
							
							<div class="single_review">
								
								<div class="review_content">
									<br>
									<h6>¿Qué es el Crowdfunding?</h6>
									<p>Lo primero que debe saber la gente es que sientes pasión por lo que haces, que tienes motivación por sacar el proyecto adelante y que te vas a dejar la piel por hacerlo realidad. Por ello, debes transmitir tu motivación y explicar a tus posibles mecenas qué es lo que te motiva como emprendedor.</p>
								</div>
							</div>
							
							<div class="single_review">
								
								<div class="review_content">
									<br>
									<h6>¿Qué es el Crowdfunding?</h6>
									<p>Lo primero que debe saber la gente es que sientes pasión por lo que haces, que tienes motivación por sacar el proyecto adelante y que te vas a dejar la piel por hacerlo realidad. Por ello, debes transmitir tu motivación y explicar a tus posibles mecenas qué es lo que te motiva como emprendedor.</p>
								</div>
							</div>
							
							<div class="single_review">
								
								<div class="review_content">
									<br>
									<h6>¿Qué es el Crowdfunding?</h6>
									<p>Lo primero que debe saber la gente es que sientes pasión por lo que haces, que tienes motivación por sacar el proyecto adelante y que te vas a dejar la piel por hacerlo realidad. Por ello, debes transmitir tu motivación y explicar a tus posibles mecenas qué es lo que te motiva como emprendedor.</p>
								</div>
							</div>
							
						</div>
					</div>	
				</div>		
			</div>
		</section><!-- //Reviews -->
		
		
		<!-- Reviews - Logos #################### -->
		
		<section id="reviews_logos" class="subsection">
			<div class="container">

				<!--
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
						<div class="intro content_anim18">
							<h3>Our app in newspapers!</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>-->
				
				<div class="row">
					<div class="col-lg-4 reviews_logo content_anim19"><a href="#"><img class="logoreview" src="<%= asset_path 'amexcap.png' %>" alt="" style="width:240px; height:185px; display:block; margin:auto;"></a></div>
					<div class="col-lg-4 reviews_logo content_anim20"><a href="#"><img class="logoreview" src="<%= asset_path 'fintech-trans.png' %>" alt="" style="width:240px; height:185px; display:block; margin:auto;"></a></div>
					<div class="col-lg-4 reviews_logo content_anim21"><a href="#"><img class="logoreview" src="<%= asset_path 'afico.png' %>" alt="" style="width:240px; height:185px; display:block; margin:auto;"></a></div>
					
				</div>
					
			</div>
		</section><!-- //Reviews - Logos-->
		
		

<style>
	#newsletter {
	background: url(<%= asset_path 'news.jpg' %>) repeat-y 0 0  fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	color:white;
}


</style>
		
		<!-- Newsletter #################### -->
		<span id="newsinfo" style="margin-top: -150px; z-index: 999; position: absolute; visibility: hidden; ">asd</span>
		<section id="newsletter" class="subsection_parallax"  data-stellar-background-ratio="0.6">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim27">
						<div class="intro">
							<h3>Subscríbete a nuestro newsletter</h3>
							<p id="mensasjenewsno">Te enviaremos información relevante, que será de utilidad para que puedas invertir con nosotros en cada una de nuestras statups.</p>
							<p id="mensasjenews">Gracias por subscribirte a nuestro newsletter</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim28">

					<!-- Newsletter Form -->
		  			<div class="newsletter_form">
						
						<form action="https://docs.google.com/forms/d/e/1FAIpQLSew-J90EKXJwTfdMslRSKkSOZiEcIMOTWLWkFtukF4hLmY7Dw/formResponse" method="POST" id="subscribe-form" target="_self" onsubmit="">
		  				
		  				<div class="input-field">
		  					<div data-icon="&#xe563;" class="prefix"></div>
			  				
			  				<input type="text" name="entry.804291829" value="" class="validate" id="email" dir="auto" aria-label="email  " title="">
			  			
			  				<label for="email">Email address</label>	
			  			</div>
			  			<button class="btn waves-effect waves-light subscribe-submit" type="submit" name="action" id="subscribe-form-submit" style="background: #2bb8c9;">Subscribirse</button>
			  			</form>
						<script>
						$("#mensasjenews").fadeOut();
						$("#subscribe-form-submit").click(function(){
								
								$("#mensasjenewsno").remove();
								$("#mensasjenews").fadeIn("slow", function(){
									$("#email").val("");
								});
								
								


							});
						</script>



			  			<div id="preview"></div>
		  			</div>
		  			<!-- //Newsletter form -->

					</div>
				</div>
					
			</div>
		</section><!-- //Newsletter-->
		
		<span id="contactinfo" style="margin-top: -150px; z-index: 999; position: absolute; visibility: hidden; ">asd</span>
		<section id="contact" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content_anim29">
					<h3>Información</h3>
					<p>Podrás contactarnos en nuestras oficinas cuya dirección podrás ver a continuación o enviarnos un mensaje a través de nuestro formulario y nuestros agentes te contactarán a la brevedad posible.</p>
					<p>Saludos Cordiales</p>
					
					<ul class="icon_list">
						<li><div data-icon="&#xe1b4;" class="icon_small float-left"></div><h6>KAPITALÍZALO SAPI DE CV
Blvd. Vía Atlixcáyotl 5208 Despacho 2D
Torre Ejecutiva JV III. 
San Andrés Cholula, Puebla. CP 72810.<br>México</h6></li>
						<li><div data-icon="&#xe23a;" class="icon_small float-left"></div><h6>+52 (222) 4310015</h6></li>
						<li><div data-icon="&#xe242;" class="icon_small float-left"></div><h6><a href="mailto:hellmer@outlook.com">correo@kapitalizalo.com</a></h6></li>
					</ul>
					
					<p>RAÚL ERNESTO HELLMER VILLALOBOS</p>	
					</div>
					
					
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim30">
						<h3>Contáctanos</h3>
						<p id="dudes">No dudes en escribirnos.</p>
						<p style="color:#2bb8c9;" id="mensajecontactform"><strong>Tu mensaje ha sido enviado satisfactoriamente</strong></p>
					
						<!-- Contact Form -->
						<form action="https://docs.google.com/forms/d/e/1FAIpQLSfDCB595dGM_My151py3FGV2d4mlntzgJyAsTmauHbP7u5FrQ/formResponse" method="POST" id="contact-form" target="_self" onsubmit="">
							<div class="contact_form">
								<div class="input-field">
					  				
					  				<input type="text" name="entry.726043861" value="" class="ss-q-short" id="first_name" dir="auto" aria-label="Nombre  " title="">
					  				<label for="first_name">Nombre</label>
					  			</div>
					  			<div class="input-field">
					  				
					  			<input type="email" name="entry.589350672" value="" class="ss-q-short" id="contact_email" dir="auto" aria-label="Email  " title="">
					  				<label for="contact_email">Email</label>
					  			</div>
					  			<div class="input-field">
						  			
						  			<textarea name="entry.349723958" rows="8" cols="0" class="materialize-textarea" id="entry_349723958" dir="auto" aria-label="Mensaje  "></textarea>
						  			<label>Mensaje</label>
						  		</div>
				  			</div>	
				  			<button id="submitcontact" style="background: #2bb8c9;" class="btn waves-effect waves-light" type="submit" name="action">Enviar</button>
						</form>

						<script>
						/*
						$(document).ready(function(){
							$("#mensajecontactform").fadeOut();
							$("#submitcontact").click(function(){
								alert();
								$("#mensajecontactform").fadeIn("slow", function(){
									$("#first_name").val("");
									$("#contact_email").val("");
									$("#entry_349723958").val("");
									
								});

							});
						});*/
						$("#mensajecontactform").fadeOut();
						$("#submitcontact").click(function(){
								
								$("#mensajecontactform").fadeIn("slow", function(){
									$("#first_name").val("");
									$("#contact_email").val("");
									$("#entry_349723958").val("");
									
								});

							});
						</script>
						

						<!-- //Contact Form -->
					
					
						<div id="message"><div id="alert"></div></div><!-- Message container --> 
					</div>
					
					

				</div>				
			</div>
		</section><!-- //More info -->
		
		
		<section id="footer" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
					
						<!-- Social Icons -->
						<div class="social_icons_container align-center">
						  	<div class="social_icons">
				                <ul>
						    <li><a target="_blank" href="https://www.facebook.com/Kapitalizalo/"><i class="redes fa fa-facebook-square" aria-hidden="true"></i></a></li>
						    <li><a target="_blank" href="https://twitter.com/kapitalizalo"><i class="redes fa fa-twitter-square" aria-hidden="true"></i></a></li>
				                    <li><a target="_blank" href="https://www.instagram.com/kapitalizalo/"><i class="redes fa fa-instagram" aria-hidden="true"></i></a></li>
				                    
						   <style>
						     .redes{
							font-size:30px;
							color:#848682;
							transition:all 0.5s;
						     }

						.redes:hover{ 
                                                        color:#2bb8c9;
                                                     }

						  </style>
				                </ul>
						    </div>
					    </div>	
						<!-- //Social Icons -->

					<p><small>Copyright © 2016-2017 <strong><a href="/" style="color:#2bb8c9;">KAPITALÍZALO SAPI DE CV</a></strong>, Powered by <strong><a style="color:#2bb8c9;" href="https://deblime.com" target="_blank">Deblime Inc</a></strong></small></p>	
					</div>
				</div>				
			</div>
		</section><!-- //More info -->
		

	</div><!-- //preloader -->
	

	<style>
		.logoreview{
			 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(100%);
    		transition: all 0.5s;
		}

		.logoreview:hover{
			 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(0%);
		}
	</style>
   
	<!-- JavaScript plugins comes here -->	
    <script src="https://deblime.com/kapitalizalo/js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="https://deblime.com/kapitalizalo/js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.form.js"></script>    		  <!-- jQuery form -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="https://deblime.com/kapitalizalo/js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="https://deblime.com/kapitalizalo/js/classie.js"></script>                 <!-- Class helper function -->
	<script src="https://deblime.com/kapitalizalo/js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
	<script src="https://deblime.com/kapitalizalo/js/preloader.js"></script>               <!-- Preloader -->
    <script src="https://deblime.com/kapitalizalo/js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="https://deblime.com/kapitalizalo/js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="https://deblime.com/kapitalizalo/js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="https://deblime.com/kapitalizalo/js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="https://deblime.com/kapitalizalo/js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="https://deblime.com/kapitalizalo/js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.fitvids.js"></script>      	  <!-- Responsive Video -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.stellar.js"></script>      	  <!-- Parallax backgrounds -->
    <script src="https://deblime.com/kapitalizalo/js/owl.carousel.js"></script>      	  <!-- Owl Carousel --> 
   <script src="https://deblime.com/kapitalizalo/js/main.js"></script>   

                     <!-- Main Js file -->
    
    
    <!-- Show message after newsletter form submit -->
	<script type="text/javascript">
        $('document').ready(function()
            {
            $('#subscribe-form').ajaxForm( {
                target: '#preview',
                success: function() {       
                      $('#preview').addClass( "show_message" );
                    }
                });
            });
    </script>

    <!-- MOBILE NAVIGATION -->
    <script>
        var showRight_1 = document.getElementById( "showRight_1" ),
        showRight_2 = document.getElementById( "showRight_2" ),
        hideRight = document.getElementById( 'hideRight' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        body = document.body;
        
        showRight_1.onclick = function(event) {
       		"use strict";
       		event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_1' );
            return false;
        };
        
        showRight_2.onclick = function(event) {
       		"use strict";
       		event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_2' );
            return false;
        };
    
        hideRight.onclick = function(event) {
        	"use strict";
        	event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_2' );
            return false;
        };
    </script>
    
    
    <!-- Nav Bar show/hide after scrolling -->
	<script>
	var $head = $( '#menu_bar' );
	$( '.menu_bar-waypoint' ).each( function(i) {
		var $el = $( this ),
			animClassDown = $el.data( 'animateDown' ),
			animClassUp = $el.data( 'animateUp' );
			

		$el.waypoint( function( direction ) {
			if( direction === 'down' && animClassDown ) {
				$head.attr('class', 'menu_bar ' + animClassDown);
			}
			else if( direction === 'up' && animClassUp ){
				$head.attr('class', 'menu_bar ' + animClassUp);
			}
		}, { offset: function() {
			navbarheight = $("#menu_bar").outerHeight()+1;
			return navbarheight;
			}
		 } );
	} );
	</script>
	
	<script>
		$("#login").click(function(){
			window.location.href = '/users/sign_in';
		});

		$("#paginaprincipal").click(function(){
			window.location.href = '/';
		});

		$("#atrasinfo").click(function(){
			window.location.href = '/';
		});


		$("#logingrande").click(function(){
			window.location.href = '/users/sign_in';
		});

		$("#logingrande2").click(function(){
			window.location.href = '/users/sign_in';
		});

		$("#registrar").click(function(){
			window.location.href = '/users/sign_up';
		});

		$("#iniciarsesionmenu").click(function(){
			window.location.href = '/users/sign_in';
		});
	</script>
	
	<!-- chat kapitalizalo -->
	
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5835310f7295ad7394d46881/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->	




  </body>
