<div id="carousel" >
  
   <%@startups.each do |s|%>
        <input checked type=radio name=slider id="slide<%=s.id%>" />
   <%end%>
  
    
  <div id="slides">

    <div id="overflow">
  
      <div class="inner">
        
        <%@startups.each do |s|%>
        <article>
          <div class="info"><h3><%=s.nombre%></h3> por <a href="#"><%=User.find(s.user_id).nombre%></a></div>
          <img src="<%=s.portada.url%>" />
        </article>
        <%end%>
      
      
      
      </div> <!-- .inner -->
    </div> <!-- #overflow -->
  </div> <!-- #slides -->
  
  <div id="active">
   <%@startups.each do |s|%>
         <label for="slide<%=s.id%>"></label>
   <%end%>
   
   
  </div> <!-- #active -->
  
 </div> <!-- #carousel -->