<div id="content">
	<section>
		<div class="section-body">
			<div class="row">

				<div class="col-md-12 col-sm-6">
					<div class="card">
						<div class="card-body no-padding">
							<div class="alert alert-callout alert-info no-margin">


								<%= render 'relationships', relationship:@pending_relationships %>		


							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

</div>