<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="/">
									<span class="text-lg text-bold text-primary" style="color: #2BB8C8;">RedUCLA</span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>
						<li class="dropdown hidden-xs">
							<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
								<i class="fa fa-bell"></i><sup class="badge style-danger">2</sup>
							</a>
							<ul class="dropdown-menu animation-expand">
								<li class="dropdown-header">Notificaciones</li>
								<li>
									<a class="alert alert-callout alert-warning" href="javascript:void(0);">
										<img class="pull-right img-circle dropdown-avatar" src="<%= asset_path 'avatar4.jpg' %>" alt="" />
										<strong>Alex Anistor</strong><br/>
										<small>A comentado tu post</small>
									</a>
								</li>
								<li>
									<a class="alert alert-callout alert-info" href="javascript:void(0);">
										<img class="pull-right img-circle dropdown-avatar" src="<%= asset_path 'avatar2.jpg' %>" alt="" />
										<strong>Alicia Adell</strong><br/>
										<small>Le gusta tu post</small>
									</a>
								</li>
								<!--<li class="dropdown-header">Options</li>
								<li><a href="../../html/pages/login.html">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
								<li><a href="../../html/pages/login.html">Mark as read <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>-->
						<!--	</ul> --><!--end .dropdown-menu -->
						<!--</li>  -->     <!--end .dropdown -->
						<!--<li class="dropdown hidden-xs">
							<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
								<i class="fa fa-area-chart"></i>
							</a>
							<ul class="dropdown-menu animation-expand">
								<li class="dropdown-header">Server load</li>
								<li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Server load <strong>Today</strong></span>
											<strong class="pull-right">93%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-danger" style="width: 93%"></div></div>
									</a>
								</li>-->
								<!--end .dropdown-progress -->
								<!-- <li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Server load <strong>Yesterday</strong></span>
											<strong class="pull-right">30%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-success" style="width: 30%"></div></div>
									</a>
								</li> --><!--end .dropdown-progress -->
							<!--	<li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Server load <strong>Lastweek</strong></span>
											<strong class="pull-right">74%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-warning" style="width: 74%"></div></div>
									</a>
								</li>--> <!--end .dropdown-progress -->
							 </ul>
							<!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-options -->

					
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<img src="<%if current_user.fotoperfil != nil%><%= current_user.fotoperfil.url %><%else%><%= asset_path 'logo.png' %><%end%>" alt="" />
								<span class="profile-info">
									<%= current_user.email%>


								<%if current_user.tipo == 1%>

										<small>Administrador</small>

								<%end%>

								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">Configuración</li>
								<li><a href="/users/<%=current_user.id%>/"><span style="margin-right: 5px;">Mi Perfil</span><i style="color:#368F36;" class="fa fa-user" aria-hidden="true"></i>
								</a></li>

								<li><a> <%= link_to "Mis Solicitudes", relationships_path() %>
								</a></li>
								<!--
								<li><a href="../../html/pages/blog/post.html">My blog <span class="badge style-danger pull-right">16</span></a></li>
								-->
								
							

								<%if current_user.tipo == 1%>

								<li class="divider"></li>

							<!--	<li><a href="/landingpage"><span style="margin-right: 5px;">Administrar Landing</span> <i style="color:#ECA900;" class="fa fa-pencil" aria-hidden="true"></i>-->
</a></li>

								<%end%>

								<li class="divider"></li>
								
								<li>
								         
								
								 <%= link_to('', destroy_user_session_path, :method => :delete, id: "logout") %>      
								</li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
					<ul class="header-nav header-nav-toggle">
						<li>
							<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
								<i class="fa fa-ellipsis-v"></i>
							</a>
						</li>
					</ul><!--end .header-nav-toggle -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<script>
			$("#logout").append("Cerrar Sesión <i class='fa fa-fw fa-power-off text-danger'></i>");
		</script>