			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="/">
							<span class="text-lg text-bold text-primary " style="color: #2BB8C8;">RedUCLA</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="/" class="active">
								<div class="gui-icon"><i style="color: #2BB8C8;" class="fa fa-home" aria-hidden="true"></i></div>
								<span class="title">Timeline Público</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->




						<!--
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-flask" aria-hidden="true"></i></div>
								<span class="title">Statups</span>
							</a>
							
							<ul>
								<li><a href="../../html/ui/colors.html" ><span class="title">Pequeñas</span></a></li>
								<li><a href="../../html/ui/colors.html" ><span class="title">Medianas</span></a></li>
							</ul>
							
						</li> -->


						<!-- Administrarr Startups -->
                   		<!--

						<li>
							<a href="/messages" >
								<div class="gui-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
								<span class="title">Posts</span>
							</a>
						</li>-->

						<!-- Favoritos -->

						<li>
							<a href="/users/<%=current_user.id%>/favoritos" >
								<div class="gui-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
								<span class="title">Mis Preferencias</span>
							</a>
						</li>

						<!-- Favoritos -->

						<!-- Canales -->

						<li>
							<a href="/users/<%=current_user.id%>/canals" >
								<div class="gui-icon"><i class="fa fa-television" aria-hidden="true"></i></div>
								<span class="title">Canales</span>
							</a>
						</li>

						<!-- Canales -->

						<!-- Administrarr Startups -->

						<% if current_user.tipo == 1 %>
						<!-- BEGIN BLOG -->
						<li>
							<a href="/preferencia" >
								<div class="gui-icon"><i class="fa fa-rss" aria-hidden="true"></i></div>
								<span class="title">Areas de Conocimiento</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END BLOG -->
						<%end%>

					

						







					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2017</span> <strong>RedUCLA</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

<style>
	.fa{
		padding-left: 1.5px;
	}
</style>