<!-- estilos -->
<!-- <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css" /> -->


        <!-- BEGIN STYLESHEETS -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/> -->
        
    
    
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/select2/select2.css?1424887856" />
    <!--    <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/multi-select/multi-select.css?1424887857" /> -->
    <!--    <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css?1424887858" /> -->
    <!--    <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/jquery-ui/jquery-ui-theme.css?1423393666" /> -->
    <!--    <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860" /> -->
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/typeahead/typeahead.css?1424887863" />
        <link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/dropzone/dropzone-theme.css?1424887864" />
        <!-- END STYLESHEETS -->
<!-- estilos -->

<!-- BEGIN CONTENT-->
    <div id="content">
        <section>
            <div class="section-body">
                <div class="row">
                

    <div class="col-lg-12">
    <%= form_for (@user) do |f| %>
                  <div class="card">
             <div class="card-head style-primary">
                <header>Perfil de Usuario</header>
                        </div>
                        <div class="card-body">

                 <div class="row">
                <div class="col-sm-6">
                <div class="form-group">
                                                        
            <%=f.text_field :nombre, class: "form-control", :id => "Firstname1"%>
                <label for="Firstname1">Nombre</label>
                            </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                                                        
                <%=f.text_field :apellido, class: "form-control", :id => "Lastname1"%>
                    <label for="Lastname1">Apellido</label>
                                                </div>
                                                </div>
                                            </div>

                        <div class="row">
                                                
                                               
                <div class="col-sm-6">
        <div class="form-group">
                <div class="input-group date" id="demo-date">
                                                                <div class="input-group-content">
                                                                    <%=f.text_field :fechanacimiento, class: "form-control", :id => "fechanacimiento"%>
                                                                    <label>Fecha de Nacimiento</label>
                                                                </div>
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                             </div>
                                                </div>
                                                    </div>
                                                <!-- fecha de nacimiento -->

                                                <!-- Pais -->

                        <div class="col-sm-6">
                            <div class="form-group">
                            <select class="form-control select2-list pais" data-placeholder="Paises" >
                                <%= render partial: 'users/paises' %>
                                                    
                                </select>
                        <label>Selecciona tu país de origen</label>
            <%=f.text_field :pais, class: "form-control", :id => "pais", value: current_user.pais, :style => "visibility:hidden; height:1px;"%>
                                                </div>
                                                    </div>

                                                <!-- Pais -->

                                            </div>

                                <div class="row">

                                                <!-- Estado -->
                        <div class="col-sm-6">
                        <div class="form-group">
                                                        
                <%=f.text_field :estado, class: "form-control", :id => "Estado"%>
             <label for="Estado">Estado</label>
                                                    </div>
                                                </div>
                                                <!-- Estado -->

                                                <!-- Ciudad -->
                    <div class="col-sm-6">
                        <div class="form-group">
                                                        
                    <%=f.text_field :ciudad, class: "form-control", :id => "Ciudad"%>
                        <label for="Ciudad">Ciudad</label>
                                                    </div>
                                                </div>
                                                <!-- Ciudad -->

                                            </div>


                                            <div class="row">

                                                
                                            </div>
                                            
                                            <hr class="pill">

                            <div class="row">

                                                <!-- Imagen de Perfil -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                                        

                                                                <h4>Imagen de Perfil</h4>
                                                                <div class="input-group">
                                                                    <label class="input-group-btn">
                                                                        <span class="btn btn-primary">
                                                                            Browse&hellip; <%= f.file_field :fotoperfil, :style => "visibility:hidden; height:1px; width:1px;" %>
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form-control" readonly value="<%if current_user.fotoperfil_name != nil%><%=current_user.fotoperfil_name%><%else%>No has cargado ninguna foto de perfil<%end%>">
                                                                </div>
           

                                                    </div>
                                                </div>
                                                <!-- Imagen de Perfil -->

                                                <!-- Imagen de Portada -->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        

                                                                <h4>Imagen de Portada</h4>
                                                                <div class="input-group">
                                                                    <label class="input-group-btn">
                                                                        <span class="btn btn-primary">
                                                                            Browse&hellip; <%= f.file_field :portada, :style => "visibility:hidden; height:1px; width:1px;" %>
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form-control" readonly value="<%if current_user.portada_name != nil%><%=current_user.portada_name%><%else%>No has cargado ninguna foto de portada<%end%>">
                                                                </div>
           

                                                    </div>
                                                </div>
                                                <!-- Imagen de Portada -->

                                                
                                            </div>

                                            <hr class="pill">

                                            <div class="row">
                                                
                                                <!-- Facebook -->

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <%=f.text_field :facebook, class: "form-control", :id => "facebook"%>
                                                        <label for="facebook">Link de Facebook</label>
                                                    </div>
                                                </div>

                                                <!-- Facebook -->

                                                <!-- Twitter -->

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <%=f.text_field :twitter, class: "form-control", :id => "twitter"%>
                                                        <label for="twitter">Link de Twitter</label>
                                                    </div>
                                                </div>

                                                <!-- Twitter -->

                                            </div>

                                            <div class="row">
                                                
                                                <!-- Instagram -->

            <div class="col-sm-6">
                    <div class="form-group">
                     <%=f.text_field :instagram, class: "form-control", :id => "instagram"%>
         <label for="instagram">Link de Instagram</label>
                                                    </div>
                                                </div>

                                                <!-- Instagram -->

                                                <!-- Linkedin -->

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <%=f.text_field :linkedin, class: "form-control", :id => "linkedin"%>
                                                        <label for="linkedin">Link de Linkedin</label>
                                                    </div>
                                                </div>

                                                <!-- Linkedin -->

                                            </div>

                                            <div class="row">

                                                <!-- Web Site -->

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <%=f.text_field :website, class: "form-control", :id => "website"%>
                                                        <label for="website">Sitio Web</label>
                                                    </div>
                                                </div>

                                                <!-- Web Site -->
                                            </div>
                                            
                                        </div><!--end .card-body -->
                                        <div class="card-actionbar">
                                            <div class="card-actionbar-row">
                                                <button type="submit" class="btn btn-flat btn-primary ink-reaction">Guardar</button>
                                            </div>
                                        </div>
                                    </div><!--end .card -->
                                
                                <%end%>
                            </div><!--end .col -->


                </div>
            </div>
            
        </section>
    </div>
<!-- BEGIN CONTENT-->


<!-- scripts -->
<script src="https://kapitalizalo.tk/admin/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/select2/select2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/core/demo/DemoFormComponents.js"></script>
<script>
    $("#edit_user_<%=@user.id%>").addClass("form");

    /* validar fecha nacimiento */
        $('#fechanacimiento').keydown(function(e){
           e.preventDefault();

        });


    /* validar fecha nacimiento */

    /* Seleccionar Pais */


$(".pais").change(function() {
  
    var cat = $( ".pais option:selected" ).text();
    $("#pais").val(cat);
});

<%if current_user.pais != nil%>
    var a=-1;
    var b =0;
    $(".pais option").each(function()
    {
        a++;
        if($('.pais option:eq("'+a+'")').text()=="<%=current_user.pais%>"){
        b=a;    
        }
       
    });
   
    $('.pais option:eq("'+b+'")').prop('selected', true);
<%end%>
    /* Seleccionar Pais */
</script>

<script></script>

<!-- scripts -->

<style>

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.pill {
  height:0px;
  border-radius: 2px;
  $color: teal;
  color: #0aa89e;
  border: 2px solid currentColor;
  width: 100%;
}

</style>

<script>
    $(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
</script>