
<!-- BEGIN CONTENT-->
<div id="content">

	<!-- BEGIN PROFILE HEADER -->
	<section class="full-bleed">
		<div class="section-body style-default-dark force-padding text-shadow">
			<div class="img-backdrop" style="background-image: url('<%if User.find(params[:id]).portada != nil%><%= User.find(params[:id]).portada.url %><%else%><%= asset_path 'profilebg.jpg' %><%end%>')"></div>
			<div class="overlay overlay-shade-top stick-top-left height-3"></div>
			<div class="row">
				<div class="col-md-3 col-xs-5">
					<img class="img-circle border-white border-xl img-responsive auto-width" src="<%if User.find(params[:id]).fotoperfil != nil%><%= User.find(params[:id]).fotoperfil.url %><%else%><%= asset_path 'logo.png' %><%end%>" style="width: 140px; height: 140px;" alt="" />
					<h3><%=User.find(params[:id]).email%></h3>
				</div><!--end .col -->
							<!--<div class="col-md-9 col-xs-7">
								<div class="width-3 text-center pull-right">
									<strong class="text-xl">643</strong><br/>
									<span class="text-light opacity-75">followers</span>
								</div>
								<div class="width-3 text-center pull-right">
									<strong class="text-xl">108</strong><br/>
									<span class="text-light opacity-75">following</span>
								</div>
							</div> -->
						</div><!--end .row -->
						<div class="overlay overlay-shade-bottom stick-bottom-left force-padding text-right">
							
							<%if current_user.id.to_s == @idbus%>
							<a href="/users/<%=current_user.id%>/edit" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Editar Perfil"><i class="fa fa-pencil"></i></a>
							<%end%>
							<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Mi correo" href="mailto:<%=User.find(params[:id]).email%>"><i class="fa fa-envelope"></i></a>

						


							<%if User.find(params[:id]).twitter != '' && User.find(params[:id]).twitter != nil%><a target="_blank" href="<%=User.find(params[:id]).twitter%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a><%end%>
							<%if User.find(params[:id]).facebook != '' && User.find(params[:id]).facebook != nil%>
							<a target="_blank" href="<%=User.find(params[:id]).facebook%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
							<%end%>
							<%if User.find(params[:id]).instagram != '' && User.find(params[:id]).instagram != nil%>
							<a target="_blank" href="<%=User.find(params[:id]).instagram%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a><%end%>
							<%if User.find(params[:id]).linkedin != '' && User.find(params[:id]).linkedin != nil%>
							<a target="_blank" href="<%=User.find(params[:id]).linkedin%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a><%end%>
							<%if User.find(params[:id]).website != '' && User.find(params[:id]).website != nil%>
							<a target="_blank" href="<%=User.find(params[:id]).website%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Sitio Web"><i class="fa fa-globe" aria-hidden="true"></i></a><%end%>
						</div>
					</div><!--end .section-body -->
				</section>
				<!-- END PROFILE HEADER  -->

				<section class="full-bleed">


					<div class="section-body style-default-dark force-padding text-shadow">
						<content> 

							<a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip href="#" data-element-term="follower_stats" data-original-tittle="Seguidores"> 
								<span class="ProfileCardStats-statLabel u-block"> Followers </span>
							</a>



							<a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip href="#" data-element-term="follower_stats" data-original-tittle="Seguidos"> 
								<span class="ProfileCardStats-statLabel u-block"> Following </span>
							</a>

						</content>


					</div><!--end .section-body -->
				</section>

				<section>
					<div class="page-header">
						<h1><%= link_to "Nuevo Post", new_message_path, class:"btn btn-success" %></h1>
					</div>



					<% @messages.each do |message| %>

					<!-- BEGIN ALERT - REVENUE -->
					<div class="col-md-12 col-sm-6">
						<div class="card">
							<div class="card-body no-padding">
								<div class="alert alert-callout alert-info no-margin">
									<!-- <strong class="pull-right text-success text-lg"><i class="fa fa-line-chart" aria-hidden="true"></i></strong>-->

									<strong class="text-xl"><h1>
										¿En que piensas?

									</h1></strong><br/>

									<strong class="text-xl">

										<p>
											<%= message.descripcion %>
										</p>
									</strong>
									<br/> 

									<div style="text-align: center;"><span class="opacity-50">

										<i class="fa fa-eye"><%= link_to 'Ver', message %></i>
										&nbsp;&nbsp;
										<i class="fa fa-pencil"> <%= link_to 'Edit', edit_message_path(message) %></i>
										&nbsp;&nbsp;

										<i class="fa fa-trash"> <%= link_to 'Eliminar', message, method: :delete, data: { confirm: '¿Seguro que desea eliminar el post?' } %></i> 
										&nbsp;&nbsp;



										<a href="#">Compartir<i class="fa fa-share-alt">

										</i></a>

										<a href="#">Adjuntar<i class="fa fa-picture-o">

										</i></a>
									</span>

									&nbsp;&nbsp;

									<%= link_to like_message_path(message), method:     :put do %>

									<i class="fa fa-thumbs-o-up"><span>
										<%= message.get_upvotes.size %>
									</span></i>


									&nbsp;&nbsp;
									<%end%>

								</div>
								<div>
									<%= commontator_thread(message) %>
								</div>
							</div>
						</div><!--end .card-body -->
					</div><!--end .card -->
				</div><!--end .col -->
				<!-- END ALERT - REVENUE -->     


				<% end %>

			</section>


		</div><!--end #content-->
		<!-- END CONTENT -->

