<%= form_for(follower) do |f| %>
  <% if follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contar %>
    <%= f.text_field :contar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
