

<!-- Newsletter #################### -->
    
    <style>

    /**** logo ****/

    #logo{
      width: 200px; 
      height: 80px; 
      display:block;
      margin:auto;
    }

    #headerlogin{
      margin-top: -50px;
      margin-bottom: 30px;
    }
  
    /**** logo ****/
      
    </style>


    <section id="newsletter" class="subsection_parallax"  data-stellar-background-ratio="0.6">
      <div class="container">
        <div class="row" id="headerlogin">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim27">
            <div class="intro" >
            
              <img id="logo" src="<%= asset_path 'reducla.png' %>"   />
              
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim28">

          <!-- Newsletter Form -->
            <div class="newsletter_form"  style="margin-top: -30px;">
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
              <!-- email -->

              <div class="input-field">
                <div data-icon="&#xe563;" class="prefix"></div>
                
                
                <%= f.email_field :email, autofocus: true, class: "validate", id: "email" %>
              
                <label for="email">Email</label>  
              </div>

              <!-- email -->
              <br>
              <!-- password -->
              <div class="input-field">
                <div class="prefix"><i class="fa fa-lock" aria-hidden="true"></i></div>
                

                <%= f.password_field :password, autocomplete: "off", class: "validate" %>
                <label for="email">Contraseña</label>  
              </div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <label for="remember_me">Recordarme</label>
    </div>
  <% end -%>
              <!-- password -->
              <br>
             
                   <button class="btn waves-effect waves-light subscribe-submit" type="submit" name="action" id="subscribe-form-submit" style="background: #2bb8c9;">Iniciar Sesión</button>
             


              <%end%>
              <a id="volver" href="/"><strong>Volver al Inicio</strong></a> | <a id="registrar" href="/users/sign_up"><strong>Registrarme</strong></a>


              <div id="preview"></div>
            </div>
            <!-- //Newsletter form -->

          </div>
        </div>
          
      </div>
    </section><!-- //Newsletter-->

<style>
  #newsletter {
  background: url(<%= asset_path 'fondo080.jpg' %>) repeat-y 0 0  fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    color:white;
    height:100vh;
}

#atras{
  background: #629439;
  
}

#volver{
  color: white;
 text-align: center;
 transition: all 0.5s;
}

#volver:hover{
  color: #2bb8c9;
 
}

#registrar{
  color: white;
 text-align: center;
 transition: all 0.5s;
 margin-left: 10px;
}

#registrar:hover{
  color: #2bb8c9;
 
}

</style>

  <!-- JavaScript plugins comes here -->  
    <!-- <script src="https://deblime.com/kapitalizalo/js/jquery-2.1.3.min.js"></script>  -->      <!-- jQuery -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="https://deblime.com/kapitalizalo/js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.form.js"></script>          <!-- jQuery form -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="https://deblime.com/kapitalizalo/js/materialize.js"></script>          <!-- Materialize -->
    <script src="https://deblime.com/kapitalizalo/js/classie.js"></script>                 <!-- Class helper function -->
  <script src="https://deblime.com/kapitalizalo/js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
  <script src="https://deblime.com/kapitalizalo/js/preloader.js"></script>               <!-- Preloader -->
    <script src="https://deblime.com/kapitalizalo/js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="https://deblime.com/kapitalizalo/js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="https://deblime.com/kapitalizalo/js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="https://deblime.com/kapitalizalo/js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="https://deblime.com/kapitalizalo/js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="https://deblime.com/kapitalizalo/js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.fitvids.js"></script>         <!-- Responsive Video -->
    <script src="https://deblime.com/kapitalizalo/js/jquery.stellar.js"></script>         <!-- Parallax backgrounds -->
    <script src="https://deblime.com/kapitalizalo/js/owl.carousel.js"></script>         <!-- Owl Carousel --> 
   <script src="https://deblime.com/kapitalizalo/js/main.js"></script>   

  <script>
    $("#atras").click(function(){
      window.location.href = '/';
    });

    $("#registrar").click(function(){
      window.location.href = '/users/sign_up';
    });
  </script>


<!--
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
