<!-- BEGIN CONTENT-->
			<div id="content">

				<!-- BEGIN PROFILE HEADER -->
				<section class="full-bleed">
					<div class="section-body style-default-dark force-padding text-shadow">
						<div class="img-backdrop" style="background-image: url('<%if @user.portada != nil%><%= @user.portada.url %><%else%><%= asset_path 'profilebg.jpg' %><%end%>')"></div>
						<div class="overlay overlay-shade-top stick-top-left height-3"></div>
						<div class="row">
							<div class="col-md-3 col-xs-5">
								<img class="img-circle border-white border-xl img-responsive auto-width" src="<%if @user.fotoperfil != nil%><%= @user.fotoperfil.url %><%else%><%= asset_path 'logo.png' %><%end%>" style="width: 140px; height: 140px;" alt="" />
								<h3><%if @user.nombre != '' && @user.nombre != nil && @user.apellido != '' && @user.apellido != nil%><%=@user.nombre%> <%=@user.apellido%><%else%><%=@user.email%><%end%></h3>
							</div><!--end .col -->
							<!--<div class="col-md-9 col-xs-7">
								<div class="width-3 text-center pull-right">
									<strong class="text-xl">643</strong><br/>
									<span class="text-light opacity-75">followers</span>
								</div>
								<div class="width-3 text-center pull-right">
									<strong class="text-xl">108</strong><br/>
									<span class="text-light opacity-75">following</span>
								</div>
							</div> -->
						</div><!--end .row -->
						<div class="overlay overlay-shade-bottom stick-bottom-left force-padding text-right">
							<%if @user.twitter != '' && @user.twitter != nil%><a target="_blank" href="<%=current_user.twitter%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a><%end%>
							<%if @user.facebook != '' && @user.facebook != nil%>
							<a target="_blank" href="<%=current_user.facebook%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
							<%end%>
							<%if @user.instagram != '' && @user.instagram != nil%>
							<a target="_blank" href="<%=current_user.instagram%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a><%end%>
							<%if @user.linkedin != '' && @user.linkedin != nil%>
							<a target="_blank" href="<%=current_user.linkedin%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a><%end%>
							<%if @user.website != '' && @user.website != nil%>
							<a target="_blank" href="<%=current_user.website%>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Sitio Web"><i class="fa fa-globe" aria-hidden="true"></i></a><%end%>
						</div>
					</div><!--end .section-body -->
				</section>
				<!-- END PROFILE HEADER  -->

				<section class="full-bleed">


					<div class="section-body style-default-dark force-padding text-shadow">
						 <content> 

						 <!-- boton add  -->
						 <%unless @are_relations%>
						 	 <%= link_to relationships_path(followed_id: @user.id), method: :post, remote: true, :"data-type" => "script", :class => 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect'  do %>
    						<i class="material-icons">person_add</i>
							<% end %>
						 	
						 <%end%>

						

							<!-- seguidores y seguidos  -->
						 <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip href="#" data-element-term="follower_stats" data-original-tittle="Seguidores"> 
						 	<span class="ProfileCardStats-statLabel u-block"> Followers </span>
							</a>



						 <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip href="#" data-element-term="follower_stats" data-original-tittle="Seguidos"> 
						 <span class="ProfileCardStats-statLabel u-block"> Following </span>
						</a>
						 </content>


					</div><!--end .section-body -->
				</section>

				
			</div><!--end #content-->
			<!-- END CONTENT -->

