<%= form_for(followed) do |f| %>
  <% if followed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(followed.errors.count, "error") %> prohibited this followed from being saved:</h2>

      <ul>
      <% followed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contar %>
    <%= f.text_field :contar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
