<%= form_for(favorito) do |f| %>
  <% if favorito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorito.errors.count, "error") %> prohibited this favorito from being saved:</h2>

      <ul>
      <% favorito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :preferencia_id %>
    <%= f.number_field :preferencia_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
