<!-- BEGIN CONTENT-->
  <div id="content">
    <section>
      <div class="section-body">

        <div class="row">

              <!-- Crear nueva -->
              <a style="margin-left: 10px; color:#2BB8C8;" href="/users/<%=current_user.id%>/favoritos/new" class="btn btn-flat btn-primary ink-reaction"> <i style="margin-right: 5px;" class="fa fa-plus-square" aria-hidden="true"></i>
Añadir nueva preferencia a mi perfil</a>

              <!-- Crear nueva -->
          
        </div>

        <div class="row" style="margin-top: 20px;">

        

            <div class="col-lg-12">

                  <div class="card">
                  <div class="card-head style-primary">
                      <header>Mis Preferencias</header>
                  </div>

                  <div class="card-body">

                  <%@favoritos.each do |f|%>

                  <!-- BEGIN ALERT - REVENUE -->
              <div class="col-md-4 col-sm-6">
                <div class="card">
                  <div class="card-body no-padding">
                    <div class="alert alert-callout alert-warning no-margin">
                      <strong class="pull-right text-warning text-lg"><i class="fa fa-star" aria-hidden="true"></i></strong>
                     <strong class="text-xl"><%= Preferencium.find(f.preferencia_id).nombre%></strong><br/> 
                      <span class="opacity-50">Preferencia</span>
                      
                    </div>
                  </div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END ALERT - REVENUE -->

                  <%end%>

                  </div>

                  </div>

            </div>
        </div>
      </div>
    </section>
  </div>
<!-- BEGIN CONTENT -->