<!-- estilos -->
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css" />


		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		
	
	
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/select2/select2.css?1424887856" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/multi-select/multi-select.css?1424887857" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/typeahead/typeahead.css?1424887863" />
		<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/dropzone/dropzone-theme.css?1424887864" />
		<!-- END STYLESHEETS -->
<!-- estilos -->



<!-- BEGIN CONTENT-->
  <div id="content">
    <section>
      <div class="section-body">

        <div class="row">


            <div class="col-lg-12">

            	  <!-- form -->

				 <form class="smart-form" id="new_trackrecord"  action="/users/<%=current_user.id%>/favoritos" accept-charset="UTF-8" method="post" enctype="multipart/form-data">

                  <div class="card">
                  <div class="card-head style-primary">
                      <header>Nueva Preferencia</header>
                  </div>

                  <div class="card-body">

                  	 <!-- favoritos -->
                              
                              <div class="col-lg-12">
                                 

                                    <select id="select-favorito" class="form-control select2-list">
                                    	
										<option value="0">Selecciona una preferencia</option>
                    
                  <%Preferencium.all.each do |p|%>
                    <option value="<%=p.id%>"><%=p.nombre%>

										</option>
                                    	<%end%>

                                    	
                                    </select>
                                    <label for="">Preferencias Disponibles</label>
                                    
                                  
                              </div>

                              <input type="hidden" name="favorito[preferencia_id]" id="favorito_preferencia_id">

                              <input type="hidden" name="favorito[user_id]" id="favorito_user_id" value="<%=current_user.id%>"> 

                          <!-- favoritoas -->

                          <!-- Boton -->

                          <div class="col-lg-12">
                          	
							<!-- Boton Guardar -->

										<div class="card-actionbar">
											<div class="card-actionbar-row">
												<button type="submit" class="btn btn-flat btn-primary ink-reaction">Agregar</button>
											</div>
										</div>

										<!-- Boton Guardar -->

                          </div>

                          <!-- Boton -->

                  </div>
                  </div>

                  </form>


                  <!-- form -->
            </div>

        </div>
      </div>
    </section>
  </div>
<!-- BEGIN CONTENT -->
<script>
	$("#new_favorito").addClass("form");
</script>
<script src="https://kapitalizalo.tk/admin/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/select2/select2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/core/demo/DemoFormComponents.js"></script>

<script>
	/* Tipo de Track */
	$("#select-favorito").change(function() {
	$( "#favorito_preferencia_id" ).val($( "#select-favorito :selected" ).val());
	});
	/* Tipo de Track */
</script>