<p id="notice"><%= notice %></p>

<p>
  <strong>Preferencia:</strong>
  <%= @favorito.preferencia_id %>
</p>

<%= link_to 'Edit', edit_favorito_path(@favorito) %> |
<%= link_to 'Back', favoritos_path %>
