<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
				
				<form class="smart-form" enctype="multipart/form-data" id="edit_canal_<%=@canal.id%>"  action="/users/<%=current_user.id%>/canals/<%=@canal.id%>/" accept-charset="UTF-8" method="post">

						<input type="text" value="<%=@canal.nombre%>" id="canal_nombre" name="canal[nombre]">

						<br><br>

						<input type="text" value="<%=@canal.preferencia%>" id="canal_preferencia" name="canal[preferencia]">

						<br><br>

						<!-- <input type="text" value="<%=@canal.user_id%>" id="canal_user_id" name="canal[user_id]"> -->

						<br><br>

						<input type="submit" value="Actualizar">



				</form>

			</div>
           </div>
          </section>
        </div>
<!-- BEGIN CONTENT-->
