<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
        <div class="row">

              <!-- Crear nueva -->
              <a style="margin-left: 10px; color:#2BB8C8;" href="/users/<%=current_user.id%>/canals/new" class="btn btn-flat btn-primary ink-reaction"> <i style="margin-right: 5px;" class="fa fa-plus-square" aria-hidden="true"></i>
Crear nuevo canal</a>

              <!-- Crear nueva -->
          
        </div>

            <div class="row">


                  

                  <h1 style="text-align: center;">Canales</h1>

                 
                      <% @canals.each do |canal| %>
                      

                      <%Favorito.where(user_id: current_user.id, preferencia_id: canal.preferencia_id).each do |f|%>
                      
                        <%if f.user_id == current_user.id%>
                         <!-- BEGIN ALERT - REVENUE -->
              <div class="col-md-12 col-sm-6">
                <div class="card">
                  <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">
                        

                      
                     
                     <strong class="text-xl">
                    
  <h1>
  Nombre: <%= canal.nombre %>
  </h1><br>
  <h1>
   Tema de interés: <%= Preferencium.find(canal.preferencia_id).nombre %>
  </h1>
  </strong>
  <br/>

  <div style="text-align: center;"><span class="opacity-50">


          <i class="fa fa-eye"><a href="/users/<%=current_user.id%>/canals/<%=canal.id%>">Ver</a></i>
          &nbsp;&nbsp;

          <i class="fa fa-pencil"><a href="/users/<%=current_user.id%>/canals/<%=canal.id%>/edit">Editar</a></i>
           &nbsp;&nbsp;

                 
                 </div>
                      
                      
                      

                    </div>
                  </div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END ALERT - REVENUE -->     
                    <%end%>
                    <%end%>
                    <% end %>
                 

                <br>


         


                
                
  </div>
</div>
</section>
</div>


         
