<!-- estilos -->
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css" />


<!-- BEGIN STYLESHEETS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>



<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/select2/select2.css?1424887856" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/multi-select/multi-select.css?1424887857" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/typeahead/typeahead.css?1424887863" />
<link type="text/css" rel="stylesheet" href="https://kapitalizalo.tk/admin/libs/libs/dropzone/dropzone-theme.css?1424887864" />
<!-- END STYLESHEETS -->
<!-- estilos -->




<!-- BEGIN CONTENT-->
<div id="content">
  <section>
    <div class="section-body">
      <div class="row">
        
        <div class="col-lg-12">

          <!-- form -->

          <form class="form" id="new_trackrecord"  action="/users/<%=current_user.id%>/canals" accept-charset="UTF-8" method="post" enctype="multipart/form-data">

            <div class="card">
              <div class="card-head style-primary">
                <header>Nueva Canal</header>
              </div>

              <div class="card-body">

               <!-- favoritos -->
               
               <div class="col-lg-6">
                 

                <select id="select-favorito" class="form-control select2-list">
                  
                  <option value="0">Selecciona una preferencia</option>
                  <%Favorito.where(user_id: current_user.id).each do |f|%>
                  <option value="<%=Preferencium.find(f.preferencia_id).id%>"><%=Preferencium.find(f.preferencia_id).nombre%>

                  </option>
                  <%end%>

                  
                </select>
                <label for="">Preferencias Disponibles</label>
                
                
              </div>

              <input type="hidden" name="favorito[preferencia_id]" id="favorito_preferencia_id">

              <input type="hidden" name="favorito[user_id]" id="favorito_user_id" value="<%=current_user.id%>"> 

              <!-- favoritoas -->

              <!-- Nombre Canal -->

              
              
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                    <div class="input-group-content">
                      <input type="text" class="form-control" id="canal_nombre" name="canal[nombre]" required="true">
                      <label for="amount9">Nombre del Canal</label>
                    </div>
                    <span class="input-group-addon"></span>
                  </div>
                </div>
              </div>

              

              <!-- Nombre Canal -->

              <input type="hidden" name="canal[user_id]" id="canal_user_id" value="<%=current_user.id%>">

              <input type="hidden" name="canal[preferencia_id]" id="canal_preferencia_id" required="true">

              <!-- Boton -->

              <div class="col-lg-12">
                
                <!-- Boton Guardar -->

                <div class="card-actionbar">
                  <div class="card-actionbar-row">
                    <input type="submit" class="btn btn-flat btn-primary ink-reaction" id="agregar" value="Agregar">
                  </div>
                </div>

                <!-- Boton Guardar -->

              </div>

              <!-- Boton -->

            </div>

          </div>

        </form>


        <!-- form -->
      </div>
      <em id="texto-warning" style="margin-left: 15px;"></em>
    </div>
  </div>
</section>
</div>
<!-- BEGIN CONTENT-->


<script>
  $("#new_favorito").addClass("form");
</script>
<script src="https://kapitalizalo.tk/admin/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="https://kapitalizalo.tk/admin/js/libs/select2/select2.min.js"></script>
<script src="https://kapitalizalo.tk/admin/js/core/demo/DemoFormComponents.js"></script>

<script>

  /* Tipo de Track */
  $("#select-favorito").change(function() {
    $( "#canal_preferencia_id" ).val($( "#select-favorito :selected" ).val());
  });
  /* Tipo de Track */
</script>

<script>
  

  $("#canal_nombre").keyup(function(){

    <%Canal.all.each do |c|%>
    if($("#canal_nombre").val() == "<%=c.nombre%>"){
      $("#texto-warning").text("Ya el canal existe debe escoger otro nombre");
      $("#texto-warning").css("color","red");
      $("#texto-warning").css("display","inline-block");
      $("#agregar").prop("disabled",true);
    }else{
      $("#texto-warning").css("display","none");
      $("#agregar").prop("disabled",false);
    }
    
    <%end%>
    

  });

    /*

    $("#texto-warning").text("Ya el canal existe");
                $("#texto-warning").css("color","red");
                $("#texto-warning").css("display","inline-block");

                */
              </script>

