<!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
              
              <div class="row">
                 <!-- BEGIN ALERT - REVENUE -->
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body no-padding">
                    <div class="alert alert-callout alert-warning no-margin">
                      <strong class="pull-right text-warning text-lg"><i class="fa fa-star" aria-hidden="true"></i></strong>
                      <strong class="text-xl"><%=@canal.nombre%></strong><br/>
                      <span class="opacity-50">Canal</span>
                      
                    </div>
                  </div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END ALERT - REVENUE -->
              </div>

              <div class="row" style="padding:50px; margin-top:-30px;">

              <!-- Canal -->

              <div class="row">
              <div class="col-md-12">

              

                <!-- BEGIN ENTER MESSAGE -->
                <form class="form" id="new_message">

                  <div class="card no-margin">
                    <div class="card-body">
                      <div class="form-group floating-label">
                        <textarea name="message[descripcion]" id="message_descripcion" class="form-control autosize" rows="1" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 38px;"></textarea>

                        <input type="hidden" name="message[user_id]" id="message_user_id" value="<%=current_user.id%>">

                        <input type="hidden" name="message[canal_id]" id="message_canal_id" value="<%=@canal.id%>">


                        <label for="status">Nuevo Post</label>
                      </div>
                    </div><!--end .card-body -->
                    <div class="card-actionbar">
                      <div class="card-actionbar-row">
                        
                        <a id="enviarmen" href="#" class="btn btn-flat btn-accent ink-reaction">
                          Postear
                        </a>

                        
                        
                      </div><!--end .card-actionbar-row -->
                    </div><!--end .card-actionbar -->
                  </div><!--end .card -->
                </form>

                <!-- BEGIN ENTER MESSAGE -->

                <!-- BEGIN MESSAGE ACTIVITY -->
                <div class="tab-pane" id="activity">
                  <ul class="timeline collapse-lg timeline-hairline">


                    <!-- Posts -->
                <%@posts.each do |p|%>

                <li class="timeline-inverted">
                  <div class="timeline-circ circ-xl style-primary"><i class="fa fa-user" aria-hidden="true"></i></div>
                  <div class="timeline-entry">
                    <div class="card style-default-bright">
                      <div class="card-body small-padding">
                       
                        <span class="text-medium">Mensaje de <a class="text-primary" href="#"><%=User.find(p.user_id).email%></a>

                        <br><br>

                       <%=p.descripcion%>

                        

                        <%if p.archivo != nil%>
                        <br>

                          <%if p.archivo.ext == "jpg" || p.archivo.ext == "png"%>

                          <img src="<%=p.archivo.url%>" alt="" style="width: 100%;">
                          <br>
                          <%elsif p.archivo.ext == "pdf"%>
                          <br>
                            <a target="_blank" style="text-decoration: none; color:red;"  href="<%=p.archivo.url%>"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Archivo PDF</a>
                            
                          <br><br>

                          <%elsif p.archivo.ext == "doc"%>

                          <br>
                            <a target="_blank" style="text-decoration: none; color:blue;"  href="<%=p.archivo.url%>"><i class="fa fa-file-word-o" aria-hidden="true"></i> Archivo Word</a>
                            
                          <br><br>

                          <%end%>

                        <%end%>

                        
                        <span class="opacity-50">
                           <%= p.created_at.strftime("%d")%> <%= p.created_at.strftime("%B")%> de  <%= p.created_at.strftime("%Y")%>
                        </span>
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div><!--end .timeline-entry -->
                </li>

                <%end%>

                    <!-- Posts -->


                   
                    
                  </ul>
                </div><!--end #activity -->
              </div><!--end .col -->
              <!-- END MESSAGE ACTIVITY -->

             

            


              <!-- Canal -->

              </div>
           </div>
          </section>
        </div>
<!-- BEGIN CONTENT-->

<script>
  $("#enviarmen").click(function(){

      
      window.location.href = '/users/<%=current_user.id.to_s%>/canals/<%=@canal.id.to_s%>?a='+$("#message_descripcion").val()+"&b=<%=@canal.id%>";
  });
</script>