<%= form_for(editlanding) do |f| %>
  <% if editlanding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editlanding.errors.count, "error") %> prohibited this editlanding from being saved:</h2>

      <ul>
      <% editlanding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :banner_name %>
    <%= f.text_field :banner_name %>
  </div>

  <div class="field">
    <%= f.label :banner_uid %>
    <%= f.text_field :banner_uid %>
  </div>

  <div class="field">
    <%= f.label :textobanner %>
    <%= f.text_field :textobanner %>
  </div>

  <div class="field">
    <%= f.label :titulo_seccion2 %>
    <%= f.text_field :titulo_seccion2 %>
  </div>

  <div class="field">
    <%= f.label :texto1_seccion2 %>
    <%= f.text_field :texto1_seccion2 %>
  </div>

  <div class="field">
    <%= f.label :texto2_seccion2 %>
    <%= f.text_field :texto2_seccion2 %>
  </div>

  <div class="field">
    <%= f.label :imagenseccion2_name %>
    <%= f.text_field :imagenseccion2_name %>
  </div>

  <div class="field">
    <%= f.label :imagenseccion2_uid %>
    <%= f.text_field :imagenseccion2_uid %>
  </div>

  <div class="field">
    <%= f.label :bannernewsletter_name %>
    <%= f.text_field :bannernewsletter_name %>
  </div>

  <div class="field">
    <%= f.label :bannernewsletter_uid %>
    <%= f.text_field :bannernewsletter_uid %>
  </div>

  <div class="field">
    <%= f.label :titulonewsletter %>
    <%= f.text_field :titulonewsletter %>
  </div>

  <div class="field">
    <%= f.label :textonewsletter %>
    <%= f.text_field :textonewsletter %>
  </div>

  <div class="field">
    <%= f.label :portafolio_titulo %>
    <%= f.text_field :portafolio_titulo %>
  </div>

  <div class="field">
    <%= f.label :portafolio_texto %>
    <%= f.text_field :portafolio_texto %>
  </div>

  <div class="field">
    <%= f.label :contactotituloizq %>
    <%= f.text_field :contactotituloizq %>
  </div>

  <div class="field">
    <%= f.label :contactotextoizq %>
    <%= f.text_field :contactotextoizq %>
  </div>

  <div class="field">
    <%= f.label :contactodireccion %>
    <%= f.text_field :contactodireccion %>
  </div>

  <div class="field">
    <%= f.label :contactotelefono %>
    <%= f.text_field :contactotelefono %>
  </div>

  <div class="field">
    <%= f.label :contactocorreo %>
    <%= f.text_field :contactocorreo %>
  </div>

  <div class="field">
    <%= f.label :contactonombre %>
    <%= f.text_field :contactonombre %>
  </div>

  <div class="field">
    <%= f.label :footerfacebook %>
    <%= f.text_field :footerfacebook %>
  </div>

  <div class="field">
    <%= f.label :footertwitter %>
    <%= f.text_field :footertwitter %>
  </div>

  <div class="field">
    <%= f.label :footerinstagram %>
    <%= f.text_field :footerinstagram %>
  </div>

  <div class="field">
    <%= f.label :footerlinkedin %>
    <%= f.text_field :footerlinkedin %>
  </div>

  <div class="field">
    <%= f.label :footergoogle %>
    <%= f.text_field :footergoogle %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
