

<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body">
				<div class="row">
				<div class="col-lg-12">
								
							<%= form_for(@editlanding) do |f| %>
											
								
											
											
									<!-- Seccion 1 -->

									
									<h1 style="margin-top: -10px;" class="text-primary">Seccion Banner Principal</h1>
									

									<div class="card">
										<div class="card-body">

											

														<!-- Texto 1 banner -->

														<div class="form-group floating-label">
															
															<%=f.text_field :texto1, class: "form-control", size: "30x10"%>
															<label for="textarea2">Primer Texto Banner</label>
														</div>

														<!-- Texto 1 banner -->

														<!-- Texto 2 banner -->

														<div class="form-group floating-label">
															
															<%=f.text_field :textobanner, class: "form-control", size: "30x10"%>
															<label for="textarea2">Segundo Texto Banner</label>
														</div>

														<!-- Texto 2 banner -->

														<!-- Banner -->

														


																	<div class="form-group" style="margin-top:-20px;">
																	            <div class="input-group" style="margin-top: 2px;">
																	                <label class="input-group-btn">
																	                    <span class="btn btn-primary">
																	                        Banner&hellip; <%= f.file_field :banner, :style => "visibility:hidden; height:1px; width:1px;" %>
																	                    </span>
																	                </label>
																	                <input style="margin-top: 15px;" type="text" class="form-control" readonly value="" id="banner">
																	            </div>
				           

																	
																</div>
																	
															

														<!-- Bannerr -->


														<!-- Submit -->

														

														<!-- Submit -->

												</div><!--end .card-body -->
										</div><!--end .card -->

										<!-- Seccion 1 -->




									<!-- Seccion 2 -->

									
									<h1 style="margin-top: -10px;" class="text-primary">Información Sobre Kapitalizalo</h1>
									

									<div class="card">
										<div class="card-body">

											

														<!-- Titulo -->

														<div class="form-group floating-label">
															
															<%=f.text_field :titulo_seccion2, class: "form-control", size: "30x10"%>
															<label for="textarea2">Titulo Sección 2</label>
														</div>

														<!-- Titulo -->

														<!-- Texto 1 -->

														<div class="form-group floating-label">
															
															<%=f.text_field :texto1_seccion2, class: "form-control", size: "30x10"%>
															<label for="textarea2">Primer Texto Sección 2</label>
														</div>

														<!-- Texto 1 -->

														<!-- Texto 2 -->

														<div class="form-group floating-label">
															
															<%=f.text_field :texto2_seccion2, class: "form-control", size: "30x10"%>
															<label for="textarea2">Segundo Texto Sección 2</label>
														</div>

														<!-- Texto 2 -->

														<!-- Imagen Seccion 2 -->

														


																	<div class="form-group" style="margin-top:-20px;">
																	            <div class="input-group" style="margin-top: 2px;">
																	                <label class="input-group-btn">
																	                    <span class="btn btn-primary">
																	                        Imagen&hellip; <%= f.file_field :imagenseccion2, :style => "visibility:hidden; height:1px; width:1px;" %>
																	                    </span>
																	                </label>
																	                <input style="margin-top: 15px;" type="text" class="form-control" readonly value="" id="imagenseccion2">
																	            </div>
				           

																	
																</div>
																	
															

														<!-- Imagen Seccion 2 -->


														

												</div><!--end .card-body -->
										</div><!--end .card -->

									<!-- Seccion 2 -->

									<!-- Seccion 3 -->

									
									<h1 style="margin-top: -10px;" class="text-primary">Newsletter</h1>
									

									<div class="card">
										<div class="card-body">

											

														<!-- Titulo Newsletter -->

														<div class="form-group floating-label">
															
															<%=f.text_field :titulonewsletter, class: "form-control", size: "30x10"%>
															<label for="textarea2">Titulo Newsletter</label>
														</div>

														<!-- Titulo Newsletter -->

														<!-- Texto Newsletter -->

														<div class="form-group floating-label">
															
															<%=f.text_field :textonewsletter, class: "form-control", size: "30x10"%>
															<label for="textarea2">Texto Newsletter</label>
														</div>

														<!-- Texto Newsletter -->

														<!-- Fondo Newsletter -->

														


																	<div class="form-group" style="margin-top:-20px;">
																	            <div class="input-group" style="margin-top: 2px;">
																	                <label class="input-group-btn">
																	                    <span class="btn btn-primary">
																	                        Fondo Newsletter&hellip; <%= f.file_field :bannernewsletter, :style => "visibility:hidden; height:1px; width:1px;" %>
																	                    </span>
																	                </label>
																	                <input style="margin-top: 15px;" type="text" class="form-control" readonly value="" id="bannernewsletter">
																	            </div>
				           

																	
																</div>
																	
															

														<!-- Fondo Newsletter -->


														

												</div><!--end .card-body -->
										</div><!--end .card -->

									<!-- Seccion 3 -->

									<!-- Seccion 4 -->

									
									<h1 style="margin-top: -10px;" class="text-primary">Portafolio de Startups</h1>
									

									<div class="card">
										<div class="card-body">

											

														<!-- Titulo Portafolio -->

														<div class="form-group floating-label">
															
															<%=f.text_field :portafolio_titulo, class: "form-control", size: "30x10"%>
															<label for="textarea2">Titulo Portafolio</label>
														</div>

														<!-- Titulo Portafolio -->

														<!-- Texto Portafolio -->

														<div class="form-group floating-label">
															
															<%=f.text_field :portafolio_texto, class: "form-control", size: "30x10"%>
															<label for="textarea2">Texto Portafolio</label>
														</div>

														<!-- Texto Portafolio -->

														

												</div><!--end .card-body -->
										</div><!--end .card -->

									<!-- Seccion 4 -->

									<!-- Contacto -->

									
									<h1 style="margin-top: -10px;" class="text-primary">Sección de Contacto</h1>
									

									<div class="card">
										<div class="card-body">

											

														<!-- Titulo Contacto -->

														<div class="form-group floating-label">
															
															<%=f.text_field :contactotituloizq, class: "form-control", size: "30x10"%>
															<label for="textarea2">Titulo Sección Contacto</label>
														</div>

														<!-- Titulo Contacto -->

														<!-- Texto Contacto Izq -->

														<div class="form-group floating-label">
															
															<%=f.text_field :contactotextoizq, class: "form-control", size: "30x10"%>
															<label for="textarea2">Texto Sección Contacto Parte Izquierda</label>
														</div>

														<!-- Texto Contacto Izq -->

														<!-- Direccion Contacto Izq -->

														<div class="form-group floating-label">
															
															<%=f.text_field :contactodireccion, class: "form-control", size: "30x10"%>
															<label for="textarea2">Dirección de Contacto</label>
														</div>

														<!-- Direccion Contacto Izq -->

														<!-- Telefono Contacto -->

														<div class="form-group floating-label">
															
															<%=f.text_field :contactotelefono, class: "form-control", size: "30x10"%>
															<label for="textarea2">Telefono de Contacto</label>
														</div>

														<!-- Telefono Contacto -->

														<!-- Correo Contacto -->

														<div class="form-group floating-label">
															
															<%=f.text_field :contactocorreo, class: "form-control", size: "30x10"%>
															<label for="textarea2">Email de Contacto</label>
														</div>

														<!-- Correo Contacto -->

														<!-- Nombre Contacto -->

														<div class="form-group floating-label">
															
															<%=f.text_field :contactonombre, class: "form-control", size: "30x10"%>
															<label for="textarea2">Nombre de Contacto</label>
														</div>

														<!-- Nombre Contacto -->

														
														

												</div><!--end .card-body -->
										</div><!--end .card -->

									<!-- Contacto -->


									<!-- Redes Footer -->

									
									<h1 style="margin-top: -10px;" class="text-primary">Redes Sociales Footer</h1>
									

									<div class="card">
										<div class="card-body">

											

														<!-- Facebook -->

														<div class="form-group floating-label">
															
															<%=f.text_field :footerfacebook, class: "form-control", size: "30x10"%>
															<label for="textarea2"><i style="margin-right:10px;" class="fa fa-facebook-square" aria-hidden="true"></i>Link de Facebook</label>
														</div>

														<!-- Facebook -->

														<!-- Twitter -->

														<div class="form-group floating-label">
															
															<%=f.text_field :footertwitter, class: "form-control", size: "30x10"%>
															<label for="textarea2"><i style="margin-right:10px;" class="fa fa-twitter-square" aria-hidden="true"></i>Link de Twitter</label>
														</div>

														<!-- Twitter -->

														<!-- Instagram -->

														<div class="form-group floating-label">
															
															<%=f.text_field :footerinstagram, class: "form-control", size: "30x10"%>
															<label for="textarea2"><i style="margin-right:10px;" class="fa fa-instagram" aria-hidden="true"></i>Link de Instagram</label>
														</div>

														<!-- Instagram -->

														<!-- Linkedin -->

														<div class="form-group floating-label">
															
															<%=f.text_field :footerlinkedin, class: "form-control", size: "30x10"%>
															<label for="textarea2"><i style="margin-right:10px;" class="fa fa-linkedin" aria-hidden="true"></i>Link de Linkedin</label>
														</div>

														<!-- Linkedin -->

														<!-- Google -->

														<div class="form-group floating-label">
															
															<%=f.text_field :footergoogle, class: "form-control", size: "30x10"%>
															<label for="textarea2"><i style="margin-right:10px;" class="fa fa-google-plus" aria-hidden="true"></i>Link de Google</label>
														</div>

														<!-- Google -->


														

												</div><!--end .card-body -->
										</div><!--end .card -->

									<!-- Redes Footer -->


									<!-- Submit -->

										<div class="card-actionbar">
											<div class="card-actionbar-row">
												<button type="submit" class="btn btn-flat btn-primary ink-reaction">Guardar<i style="margin-left: 10px;" class="fa fa-floppy-o" aria-hidden="true"></i></button>
											</div>
										</div>

									<!-- Submit -->
											
										<%end%>
									
								<em class="text-caption">Sección Administrativa de la Landing Page</em>
							</div>

				</div>
			</div>
		</section>
	</div>
<!-- BEGIN CONTENT-->


<script>
$("#editlanding_banner").change(function(){
	$("#banner").val(""+this.value);
});

$("#editlanding_imagenseccion2").change(function(){
	$("#imagenseccion2").val(""+this.value);
});

$("#editlanding_bannernewsletter").change(function(){
	$("#bannernewsletter").val(""+this.value);
});


<%if @landing.banner != nil%>
	$("#banner").val("<%=@landing.banner_name%>");
<%end%>

<%if @landing.bannernewsletter != nil%>
	$("#bannernewsletter").val("<%=@landing.bannernewsletter_name%>");
<%end%>

<%if @landing.imagenseccion2 != nil %>
	$("#imagenseccion2").val("<%=@landing.imagenseccion2_name%>");
<%end%>
	
$(".edit_editlanding").addClass("form");
</script>

