<div id="content">
  <section>
    <div class="section-body">
      <div class="row">

          <div class="col-lg-12">



                <!-- Tarjeta -->

                <div class="card">

                <div class="card-head style-primary">
                  <header>Landing Page</header>
                </div>

                <div class="card-body">
                 
                      <div class="row">

                          <span style="padding-left: 10px; font-size:15px;">Sección donde los administradores podrán editar algunas secciones de la landing page</span>
                        <br>
                        <a href="/editlandings/1/edit" class="btn btn-flat btn-primary ink-reaction"><i style="margin-right: 5px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar</a>

                      </div>

                    
                 
                </div>

              </div>

                <!-- Tarjeta -->

                <!-- Landing -->

                <div class="card">

                <div class="card-head style-primary">
                  <header>Vista Actual</header>
                </div>

                <div class="card-body">
                 
                      <div class="row">

                         
                        <img src="<%= asset_path 'landingkapi.jpg' %>" alt="" style="width:100%;">

                      </div>

                    
                 
                </div>

              </div>

                <!-- Landing -->

          </div>
      </div>
    </div>
  </section>
</div>