<p id="notice"><%= notice %></p>

<p>
  <strong>Banner name:</strong>
  <%= @editlanding.banner_name %>
</p>

<p>
  <strong>Banner uid:</strong>
  <%= @editlanding.banner_uid %>
</p>

<p>
  <strong>Textobanner:</strong>
  <%= @editlanding.textobanner %>
</p>

<p>
  <strong>Titulo seccion2:</strong>
  <%= @editlanding.titulo_seccion2 %>
</p>

<p>
  <strong>Texto1 seccion2:</strong>
  <%= @editlanding.texto1_seccion2 %>
</p>

<p>
  <strong>Texto2 seccion2:</strong>
  <%= @editlanding.texto2_seccion2 %>
</p>

<p>
  <strong>Imagenseccion2 name:</strong>
  <%= @editlanding.imagenseccion2_name %>
</p>

<p>
  <strong>Imagenseccion2 uid:</strong>
  <%= @editlanding.imagenseccion2_uid %>
</p>

<p>
  <strong>Bannernewsletter name:</strong>
  <%= @editlanding.bannernewsletter_name %>
</p>

<p>
  <strong>Bannernewsletter uid:</strong>
  <%= @editlanding.bannernewsletter_uid %>
</p>

<p>
  <strong>Titulonewsletter:</strong>
  <%= @editlanding.titulonewsletter %>
</p>

<p>
  <strong>Textonewsletter:</strong>
  <%= @editlanding.textonewsletter %>
</p>

<p>
  <strong>Portafolio titulo:</strong>
  <%= @editlanding.portafolio_titulo %>
</p>

<p>
  <strong>Portafolio texto:</strong>
  <%= @editlanding.portafolio_texto %>
</p>

<p>
  <strong>Contactotituloizq:</strong>
  <%= @editlanding.contactotituloizq %>
</p>

<p>
  <strong>Contactotextoizq:</strong>
  <%= @editlanding.contactotextoizq %>
</p>

<p>
  <strong>Contactodireccion:</strong>
  <%= @editlanding.contactodireccion %>
</p>

<p>
  <strong>Contactotelefono:</strong>
  <%= @editlanding.contactotelefono %>
</p>

<p>
  <strong>Contactocorreo:</strong>
  <%= @editlanding.contactocorreo %>
</p>

<p>
  <strong>Contactonombre:</strong>
  <%= @editlanding.contactonombre %>
</p>

<p>
  <strong>Footerfacebook:</strong>
  <%= @editlanding.footerfacebook %>
</p>

<p>
  <strong>Footertwitter:</strong>
  <%= @editlanding.footertwitter %>
</p>

<p>
  <strong>Footerinstagram:</strong>
  <%= @editlanding.footerinstagram %>
</p>

<p>
  <strong>Footerlinkedin:</strong>
  <%= @editlanding.footerlinkedin %>
</p>

<p>
  <strong>Footergoogle:</strong>
  <%= @editlanding.footergoogle %>
</p>

<%= link_to 'Edit', edit_editlanding_path(@editlanding) %> |
<%= link_to 'Back', editlandings_path %>
