<!DOCTYPE html>
<html>
  <head>
    <title>Reduni</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
	<!-- END META -->

	<!-- Agregar snack -->

	<div id="global-snackbar" class="mdl-js-snackbar mdl-snackbar">
		<div class="mdl-snackbar__text"></div>
		<button class="mdl-snackbar__action" type="button"> </button>	
	</div>

	<!-- font awsome -->
	<script src="https://use.fontawesome.com/516747be8e.js"></script>
	<!-- font awsome -->

	<!-- scripts y estilos panel administrativo -->
	<%if request.env['PATH_INFO'] != '/index' && request.env['PATH_INFO'] != '/users/sign_in' && request.env['PATH_INFO'] != '/users/sign_up'%>
		<%= render partial: 'partials/headpanel' %>
	<%end%>
	<!-- scripts y estilos panel administrativo -->

	<!-- scripts y estilos landing page -->
	<%if request.env['PATH_INFO'] == '/index' or request.env['PATH_INFO'] == '/users/sign_in' or request.env['PATH_INFO'] == '/users/sign_up' or request.env['PATH_INFO'] == '/informacion'%>
		<%= render template: 'landing/headlanding' %>
	<%end%>
	<!-- scripts y estilos landing page -->



  </head>

  
	  <!-- Landing Page -->
	  
	  <% if request.env['PATH_INFO'] == '/index' %>

		<%= render template: 'landing/index' %>

	  <%end%>

	  <!-- Landing Page -->

	  <!-- Informacion -->
	  
	  <% if request.env['PATH_INFO'] == '/informacion' %>

		<%= render template: 'landing/informacion' %>

	  <%end%>

	  <!-- Informacion -->


	  <!-- Panel Administrativo -->

	   <%if current_user && request.env['PATH_INFO'] != '/index' %>

		 <%= render template: 'layouts/paneladministrativo' %>

	  <%end%>

	  <!-- Panel Administrativo -->

	  <!-- Login, Registro y Passwords-->

	   <%if request.env['PATH_INFO'] != '/index' &&  request.env['PATH_INFO'] == '/users/sign_in'%>

		 	<%= render template: 'devise/sessions/new' %>

	   <%elsif request.env['PATH_INFO'] != '/index' &&  request.env['PATH_INFO'] == '/users/sign_up'%>
		
			<%= render template: 'devise/registrations/new' %>


		<%elsif request.env['PATH_INFO'] != '/index' &&  request.env['PATH_INFO'] == '/users/password/new'%>

			<%= render template: 'devise/passwords/new' %>

	  <%end%>

	  <!-- Login, Registro y Password-->


 <script>
 		<%if current_user%>

 		<%else%>
		if(window.location.pathname == '/'){
			window.location.href = '/index';
		}
		<%end%>
 </script>



</html>
