<body class="menubar-hoverable header-fixed ">

	<!-- header -->

	 <%= render partial: 'partials/header' %>

	<!-- header -->

	<!-- BEGIN BASE-->
	<div id="base">

		<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->

    	<%= yield %>

    	<!-- menu level -->
		 <%= render partial: 'partials/menuleft' %>
    	<!-- menu level -->

    	<!-- canvas right -->
		 <%= render partial: 'partials/canvasright' %>
    	<!-- canvas right -->
    </div>


  <!-- scripts -->
		
		
			

		
	
		<%if current_user && request.env['PATH_INFO'] != '/administrar-startups' && request.env['PATH_INFO'] != '/startupsectors' && request.env['PATH_INFO'] != '/startupsegmentos' && request.env['PATH_INFO'] != '/startupmonedas' && request.env['PATH_INFO'] != '/startupinstrumentopagos' && request.env['PATH_INFO'].split('/').last != 'trackrecords' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<%end%>

		<script src="https://deblime.com/admin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/spin.js/spin.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/moment/moment.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/flot/jquery.flot.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/flot/jquery.flot.time.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/flot/jquery.flot.resize.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/flot/jquery.flot.orderBars.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/flot/jquery.flot.pie.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/flot/curvedLines.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/jquery-knob/jquery.knob.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/sparkline/jquery.sparkline.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/d3/d3.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/d3/d3.v3.js"></script>
		<script src="https://deblime.com/admin/assets/js/libs/rickshaw/rickshaw.min.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/App.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/AppNavigation.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/AppOffcanvas.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/AppCard.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/AppForm.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/AppNavSearch.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/source/AppVendor.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/demo/Demo.js"></script>
		<script src="https://deblime.com/admin/assets/js/core/demo/DemoDashboard.js"></script>

  <!-- scripts -->


  </body>